[2017-11-14 22:10] jflory7 opened #3 "Does not compile on Fedora 27"
# Summary

When running `make release`, compiling fails and gives warnings about `libevent` and fails when it imports `dbus/dbus.h`.

# Explanation

I noticed some required packages were missing in the README (`pkg-config` and `ragel`). I installed those and the other ones mentioned in the README. I tried building it on my Fedora 27 laptop and in a Fedora 26 Docker container and had the same resul

[2017-11-15 09:56] mariusor commented on #3
Hi,

Unfortunately I don't know the exact packages on every distribution. For [Ubuntu 14.04](https://github.com/mariusor/mpris-scrobbler/blob/master/.travis.yml#L25), for example, I had to get them in order for travis to work.

The rule of thumb is that you need the development equivalents for all of the listed libraries in the compile dependencies. (I have updated the readme to reflect this)

If

[2017-11-15 16:53] jflory7 commented on #3
@mariusor Thanks! This was exactly the issue. I didn't realize I needed the development packages. Of course, when I installed them, everything worked fine with `gcc` and `make`.

Don't worry on the package dependencies for Fedora. I'm working on packaging it into an RPM [here](https://github.com/jflory7/rpm-specs/blob/add/mpris-scrobbler/rpmbuild/SPECS/mpris-scrobbler.spec), and I'll send a PR to

[2017-11-15 16:53] #3 closed

[2017-11-15 19:09] jflory7 opened #5 "Add support for ListenBrainz"
# Summary

Add support to submit listens to [ListenBrainz](https://listenbrainz.org/)

# Background

[ListenBrainz](https://listenbrainz.org/) is an open source project by the [MetaBrainz Foundation](https://metabrainz.org/) to replicate the basic functionality of the original Audioscrobbler®. You can read more about **[its goals and anti-goals](https://listenbrainz.org/goals)**.

# Details

The *

[2017-11-22 23:17] mariusor commented on #5
Yes, I have this in mind already, and it's the next bigger thing I want to tackle. I didn't start it until now because somehow I was under the impression that the API is last.fm compatible and I was sure it was going to be a matter of hours.

However it requires some changes that I need to explore a bit first. :)

[2017-11-27 21:35] mariusor commented on #5
OK, first step is done: moving last.fm and libre.fm APIs from XML responses to json.

In the switch I removed the dependency for `libexpat` and replaced it with `json-c`.

Next step is to start a branch for listenbrainz and start developing the API. Probably this will require a better separation of the API related functions (libre.fm compatible vs. listenbrainz).

[2017-11-28 00:50] jflory7 commented on #5
@mariusor Can't wait! Thanks for your time working on this. If you have any questions, feel free to join us in `#metabrainz` on irc.freenode.net to ask! 😄

[2017-11-28 22:27] mariusor commented on #5
OK, we have progress.

The scrobbler submits to listenbrainz correctly both the current playing and the just listened to track - using the code in the [listenbrainz branch](https://github.com/mariusor/mpris-scrobbler/tree/listenbrainz).

There are probably still a ton of memory leaks, as I didn't pay any mind to that, but at least it works without crashing.

The configuration/authentication needs

[2017-11-30 10:51] mariusor opened #9 "Robustness for configuration/credentials files"
I want to improve the way I'm handling configuration for the scrobbler.

- [x] Remove the .config/mpris-scrobbler.ini file. See a69f480.
- [x] Move the enabling/disabling of services in the credentials file.
- [x] Add `mpris-scrobbler-signon` functionality for enabling/disabling services. See d0f0776.
- [x] Add support for adding manually the API token in `mpris-scrobbler-signon`.  See  138301f.
-

[2017-11-30 10:56] mariusor opened #10 "Drop openssl dependency"
Since I'm not using anything else from openssl except the md5 function, I should implement my own and drop the dependency.

Nice to have would be using CPU intrinsics if possible.

[2017-11-30 11:43] mariusor opened #11 "Move away from curl_easy* functions"
I want to implement the HTTP communication using the asynchronous API of curl.

See the **hiper** examples of libcurl.

eg: https://curl.haxx.se/libcurl/c/hiperfifo.html

[2017-11-30 12:00] mariusor opened #12 "Remove ragel build time dependency"
I'm using ragel to generate the parser for the ini format used for the config and credentials files.

Since it's such a simple format I could implement a manual parser for this, which would also help with the code quality, as the ragel goto based state machine is not very clean and triggers a lot of warnings.

[2017-11-30 12:09] mariusor opened #13 "Fix queue scrobbling"
Currently the queue management is shit.

 - [x] Fix tracks being added multiple times in the queue when play/pause. See 2c36fec7.
 - [x] Implement a proper queue structure. See 2c36fec7.
 - [x] Move away from submitting each track to the API, since all services support sending the full queue in one call. See 10f629f8

[2017-11-30 12:10] mariusor opened #14 "Fix now playing triggering"
Currently I'm not considering the track position when computing the number of now_playing events a track has.

This leads to weird bugs when doing play/pause.

[2017-11-30 12:16] mariusor opened #15 "Per player logic"
Since the MPRIS signals and metadata exposed differs on most of the media-players, I should implement some way of having a single point of verification for this information.

Then for each player I could implement this logic differently.

Current observed issues are:

### Spotify

* Doesn't populate correctly the track position property.

* Triggers two signals with the exact same data when the tr

[2017-11-30 21:33] mariusor commented on #10
OK. Added a basic transcription of the wikipedia algorithm.

[2017-11-30 21:33] #10 closed

[2017-12-01 12:01] mariusor opened #16 "Add queue save/load"
- [ ] Add method to save the queue to cache file on disk when exiting.
 - [ ] Add method to load queue from cache file when starting.

[2017-12-03 21:10] mariusor opened #17 "Move out the session initialization in the mpris-scrobbler daemon."
Since the second step of the API authentication does not require the user's intervention, I want to switch from using the signon binary for loading the session_key.

This would mean that once we load the token successfully, we send a signal to the daemon, which calls the API to initiate the session.

I need to research this a bit more as there needs to be a wait time before asking for a session, t

[2017-12-03 21:12] #9 closed

[2017-12-03 21:18] mariusor commented on #5
OK, I've finished the UX cleanup. The signon command supports manually adding the token, there's no need to edit the credentials file manually.

All changes reflected in the help command and in the [documentation](../#authenticate-to-the-service).

[2017-12-03 21:18] #5 closed

[2017-12-08 15:08] jflory7 commented on #5
@mariusor Amazing!!! This is so exciting to see. Thanks for your work on this. Once my exams finish up, I'll spend more time on the Fedora package and try to test out the new ListenBrainz implementation. :)

[2017-12-09 14:33] mariusor opened #18 "Add support for multiple players running at the same time"
If there are multiple players running at the same time, we want to have different queues, now playing events and everything for each of them.

[2017-12-17 10:20] mariusor opened #19 "Add custom URLs for libre.fm and listenbrainz.org services"
As libre.fm and listenbrainz.org can be installed by anyone, it should be possible to specify a custom URL for them.

[2018-01-06 15:55] thelung15 opened #20 "Request: List of compatible audio players"
Hi, sorry for making this an issue but I honestly don't know what music players are compatible with this program.

I tried Rhythmbox 3.4.1 with the "MPRIS D-Bus Interface" plugin set to **ON** (which is part of the rhythmbox-plugins ([3.4.1-2ubuntu5](https://packages.ubuntu.com/artful/rhythmbox-plugins)) Ubuntu "Artful" 17.10 package but it didn't successfully scrobble to my ListenBrainz account.

[2018-01-08 11:16] mariusor commented on #20
Hi, I haven't really tested a lot of players. And theoretically any one should work. However the MPRIS specification is not very clear on which fields change trigger the event mpris-scrobbler listens for.

The ones I know to be working are: Spotify, Audacious and if I recall correctly Clementine.

You can try to compile a debug version of the scrobbler and run it with the `-vvv` switch. Paste the

[2018-01-08 11:24] mariusor commented on #20
OK, I have installed Rhythmbox and with an already existing listenbrainz set-up it worked.

To see if the signon was successful, check if the `grep -A2 listenbrainz ~/.local/share/mpris-scrobbler/credentials` shows the correct token (be careful not to paste it here, though :P).

To retry the sign-on, please call the `mpris-scrobbler-signon token listenbrainz -vvv` and paste the output here - I don

[2018-01-08 11:33] mariusor opened #21 "Use getopt for command arguments handling"
We need cleaner arguments handling, and getopt seems to be the idiomatic way for C, so I should start using it.

[2018-01-10 10:33] mariusor commented on #21
Fixed in 0c08d26 but I don't feel like we gained anything meaningful.

[2018-01-10 10:33] #21 closed

[2018-01-10 11:13] mariusor opened #22 "The version is not displayed correctly in the help message"
When executing `mpris-scrobbler -h` the version is shown as `(unknown)` for the git version.

[2018-01-10 11:13] mariusor commented on #22
Fixed in 238f7456.

[2018-01-10 11:13] #22 closed

[2018-01-11 18:37] thelung15 commented on #20
I typed `mpris-scrobbler-signon token listenbrainz -vvv` (and that includes the token I got from https://listenbrainz.org/profile/)(There's also a button on my listenbrainz.org profile page to reset my token, should I do that?) in my terminal and I got

Then I typed `grep -A2 listenbrainz ~/.config/mpris-scrobbler/credentials` in my terminal and it returned

Oh yeah, there seems to be some kind of

[2018-01-11 18:49] mariusor commented on #20
Maybe the readme is nor clear enough. You shouldn't pass the token in the command line, the invocation of the command should ask for the token. At that step you can paste it

    $ mpris-scrobbler-signon token listenbrainz -vvv
    DEBUG   main::loading_credentials: ok
     INFO    signon::getting_token: listenbrainz.org
     Token for listenbrainz.org:

[2018-01-11 18:56] thelung15 commented on #20
Disclaimer: Before I also used this command `mpris-scrobbler-signon enable listenbrainz -vvv`. I don't know if it messed up stuff and if I should somehow reset mpris-scrobbler but anyway it returned

Thank you. The command you posted I typed exactly 'as is'(thanks to your clarification) `mpris-scrobbler-signon token listenbrainz -vvv` and then it asked me for the token. I pasted it in and later I

[2018-01-11 18:59] mariusor commented on #20
I censored your token above :D

And it looks OK otherwise, does the scrobbler send tracks to listenbrainz in this configuration?

[2018-01-11 19:06] thelung15 commented on #20
Disclaimer again: After I realized my mistake of posting my token I reset it and now it is something different. I typed `mpris-scrobbler-signon token listenbrainz -vvv` and entered the new token and used `grep -A2 listenbrainz ~/.config/mpris-scrobbler/credentials` and this time when quoting what I got as a returned result I'll censor the token but I've verified it's the correct one:

I'll also re

[2018-01-11 19:09] mariusor commented on #20
Sure. If it works, you can close the issue directly.

Also, if you have a suggestion about how the readme could be more clear about the steps to log-in to listenbrainz, feel free to create a PR and I'll take a look.

[2018-01-11 19:18] thelung15 commented on #20
I just played Josh Woodward - Swansong (full length: 4m 20s) and it did not scrobble to my user page https://listenbrainz.org/user/internetofdata

I don't have a suggestion for the readme. I think it is good as it is. What I'd do if I make it work or if @jflory7 makes it work on an own setup with the same versions of the programs I've used and it works I think that's enough to add it to a public l

[2018-01-11 19:19] mariusor commented on #20
OK, damn.

Can you please run the scrobbler with verbose output `mpris-scrobbler -vvv` and then play some songs?

[2018-01-11 19:21] thelung15 commented on #20
Yeah, wow. Cool! Thanks for your support.

It definitely got the song title Border Blaster right(btw it's also one of my favorite songs)

[2018-01-11 19:23] mariusor commented on #20
Please post the whole scrobbler session, at least 4 minutes of play time. You can use a gist or a paste service if the amount of text is to large for github.

[2018-01-11 19:24] thelung15 commented on #20
https://gist.github.com/thelung15/82ff927f448fdd79ba9cb33aca12b196

[2018-01-11 19:31] thelung15 commented on #20
Somehow it worked: can be seen here https://listenbrainz.org/user/internetofdata I see 2 successful "listens"(uncommon word for "scrobble" that the ListenBrainz project uses to avoid trademark infringement in relation to last.fm) though do I always need to use the `mpris-scrobbler -vvv` for this to work?

[2018-01-11 19:31] mariusor commented on #20
I suspect you're not patient enough to see your track.

According to the log it would have sent it after 142 seconds of play (which is the half of the song): https://gist.github.com/thelung15/82ff927f448fdd79ba9cb33aca12b196#file-listenbrainz-txt-L234

According to the API documentation, a song should be marked as listened only after 4 minutes or half of it played, which ever comes first.

[2018-01-11 19:34] mariusor commented on #20
And no, -vvv is used just to see the output, it should have no impact on how it the scrobbler works.

[2018-01-11 19:41] thelung15 commented on #20
Should I open a new issue or do you know if mpris-scrobbler fully supports the ListenBrainz API? This is what a user's page at ListenBrainz looks like when a program has full support for the ListenBrainz API: https://listenbrainz.org/user/marc2k3. As can be seen artist name is clickable and track name as well. The songs I scrobbled through Rhythmbox were .ogg songs that I had entered with MusicBra

[2018-01-11 19:43] mariusor commented on #20
Unfortunately the MPRIS API doesn't support the custom music brainz tags that allow linking artists and songs. Feel free to open an issue, but I'm not sure it will ever get closed.

[2018-01-11 19:44] thelung15 commented on #20
Wow. Thank you for that input!

[2018-01-11 19:48] jflory7 commented on #20
@mariusor I'm curious, why is this? Is the support in ListenBrainz not there? I wonder if we should file a new feature request in ListenBrainz for this if not.

[2018-01-11 19:59] mariusor commented on #20
The definitions of the metadata that can be loaded with MPRIS (the website is down at the moment, but I'll add a link later) don't include the hashes set by musicbrainz. It has nothing to do with listenbrainz.

[2018-01-11 20:08] thelung15 commented on #20
@mariusor I assume it is the Freedesktop.org site? I'm having trouble reaching it as well

[2018-01-11 20:15] mariusor commented on #20
Yes.

[2018-01-11 20:21] thelung15 commented on #20
Before this is closed I think you told me that the command `mpris-scrobbler -vvv` would not help my songs get "scrobbled/listened" but I stopped the command and I played Josh Woodward's "Cherry" and it did not show up in now playing on my page. After I started the `mpris-scrobbler -vvv` again then it showed up correctly. The now playing works perfectly and responds **immediately** so regardless of

[2018-01-11 20:23] mariusor commented on #20
How do you run it otherwise?

[2018-01-11 20:26] thelung15 commented on #20
I didn't know. I assumed it always ran in the background. Oh, I just think I learnt something new from your short answer. So one always has to type ./mpris-scrobbler, ok I see now. Well thanks for this educational session :) and I'm still considering donating something, maybe if you don't think monetary donations are worthwhile maybe I'll add issues to other projects which are related to MPRIS as

[2018-01-11 20:33] mariusor commented on #20
I don't have a way to receive donations, sorry. If you want to donate, please support libre.fm or listenbrainz directly, they have actual costs for their infrastructure.

In the documentation it's mentioned how to keep mpris-scrobbler running using systemd.

I will close the issue now, as I feel we've solved it successfully. :)

[2018-01-11 20:33] #20 closed

[2018-01-12 10:35] mariusor opened #23 "Load MusicBrainz metadata from MPRIS"
Apparently some players do return data for the MusicBrainz ID hashes under the following tags:

    xesam:musicBrainzTrackID
    xesam:musicBrainzArtistID
    xesam:musicBrainzAlbumID
    xesam:musicBrainzAlbumArtistID

Tested with Rhythmbox.

Ping: @jflory7, @thelung15

[2018-01-12 10:38] mariusor opened #24 "Send the MusicBrainz ID hashes to the Listenbrainz API"
When encountering tracks that support the MusicBrainz track, album, artist, album artist ID hashes we should submit them to Listenbrainz.

Ping: @jflory7, @thelung15

[2018-01-12 10:39] mariusor commented on #20
Guys, see #23 and #24 for adding music brainz tags to the listenbrainz submitted tracks.

[2018-01-12 10:50] mariusor commented on #23
Fixed in 23c2227.

[2018-01-12 10:50] #23 closed

[2018-01-12 15:05] jflory7 commented on #24
Wow!! This will be so awesome! Thanks for digging deeper to discover those metadata tags! This will take ListenBrainz support with the scrobbler to the next level. 😄

[2018-01-13 09:47] mariusor opened #25 "Add support for cross-compilation to armv7"
Enable meson cross compilation for creating builds for armv7.

Ideally using the Mer environment and scratchbox2 toolkit - this makes it easier to start creating builds using the Mer OBS instance.

[2018-01-16 11:57] mariusor opened #26 "Trigger API submissions when receiving SIGHUP"
We're currently reloading the API credentials file if we receive the SIGHUP signal.

We need to trigger also a new now_playing event for the new API credentials that might have been added.

[2018-01-16 14:09] mariusor commented on #24
OK, added the correct submission in 9b47fdc

[2018-01-18 13:33] mariusor opened #27 "Add MusicBrainz track id to audioscrobbler API calls"
The audioscrobbler API supports MusicBrainz track fingerprinting and we can send it if it exists in our metadata.

[2018-01-18 13:35] #27 closed

[2018-01-20 20:22] mariusor opened #28 "The scrobbling/listening times are always wrong"
Because we assign the start_time for a scrobble when we load it in preparation for submitting it not at track change time, the timestamp is wrong.

[2018-01-21 08:41] mariusor commented on #14
Most of the problem was generated by not freeing the event after triggering. This commit df74c818 fixes that

[2018-01-25 09:22] mariusor opened #29 "Last.fm scrobbling multiple tracks fails"
When the scrobbling queue has more than one element the last.fm scrobble API call fails.

[2018-01-30 09:26] mariusor commented on #29
To reproduce we need to let a song play and then change track.
Got a debugging log for an offending scrobble.

    TRACING curl::request[P]: https://ws.audioscrobbler.com/2.0/?format=json
    curl::body[334]: album[]=Towards%20Language&album[]=Towards%20Language&api_key=9909********************6f4&artist[]=Arve%20Henriksen&artist[]=Arve%20Henriksen&method=track.scrobble&sk=V*************-*****Kb&t

[2018-02-04 17:16] #28 closed

[2018-02-04 20:40] mariusor opened #30 "Changing track in Spotify triggers a scrobble submission automatically."
I suspect this is related to the fact that Spotify triggers two MPRIS signals for the current track change.

I'll add a log as soon as possible.

[2018-02-04 20:49] mariusor commented on #29
This still fails where musicbrainz track id is present:

    TRACING curl::request[P]: https://ws.audioscrobbler.com/2.0/?format=json
    curl::body[758]: album[]=Gone%20Home%3A%20Original%20Soundtrack&album[]=Gone%20Home%3A%20Original%20Soundtrack&album[]=Gone%20Home%3A%20Original%20Soundtrack&album[]=Gone%20Home%3A%20Original%20Soundtrack&album[]=Gone%20Home%3A%20Original%20Soundtrack&api_key=99

[2018-02-04 20:54] mariusor commented on #29
Disregard, testing with older build. 👎

[2018-02-04 20:54] #29 closed

[2018-02-05 22:23] mariusor commented on #19
Fixed in  4321e83 and a2e8be2.

[2018-02-05 22:23] #19 closed

[2018-02-26 20:04] mariusor commented on #14
Moved the whole logic to use the recursive now_playing event add. Ie, each time now_playing gets triggered a new event is added after `NOW_PLAYING_DELAY` seconds.

When track gets changed or play status gets paused the event is removed.

[2018-02-26 20:04] #14 closed

[2018-02-26 20:07] mariusor opened #31 "Sometimes the artist name is loaded multiple times in the same value"
This seems to happen when doing a next track action on Spotify.

Could be because of how Spotify emits track_changed event twice and we're not overwriting the value in the `mpris_metadata` struct.

[2018-03-01 10:51] mariusor opened #32 "Keep metada elements as arrays in our mpris_metadata"
The following fields are array of strings and should be handled as such:

* xesam:albumArtist
* xesam:artist
* xesam:comment

The following ones are also arrays but we're not using them:

* xesam:composer
* xesam:genre
* xesam:lyricist

[2018-03-01 10:52] mariusor commented on #31
This might not be related to the player in the end. I could reproduce using mopidy and local tracks.

Probably it's related to the way we're loading string arrays from dbus. See [32] for details.

[2018-03-16 17:37] LeoVerto opened #33 "Support for custom ListenBrainz servers"
I'd love to be able to set up mpris-scrobbler to send listens to my local dev ListenBrainz server without having to touch the hosts file.

[2018-03-17 11:03] ibrokemypie opened #34 "main::load_credentials: no credentials were loaded"
Hey, whenever I try to use any of the authentication commands I get the following output:
[code]
anything I am doing wrong?

[2018-03-17 17:43] mariusor commented on #33
Try adding a `url = <url>` to the listenbrainz credentials file. It should work already, but I don't think I've tested the feature.

[2018-03-17 17:48] mariusor commented on #34
Please post the whole output for what you're trying and add which linux distribution you're using.

It might be a bug in how we create the credentials file.

[2018-03-19 11:38] mariusor opened #35 "Listenbrainz submission is broken"
Somehow the submission to listenbrainz is failing with an invalid Json error.

Details [here](https://gist.github.com/mariusor/c7279b2093cdd148b7460688b9f7b113).

The same request fails on the command line with curl but works in Postman.

[2018-03-21 10:34] mariusor commented on #35
Fixed in commit 6539fcb220.

[2018-03-21 10:34] #35 closed

[2018-03-21 14:01] LeoVerto opened #36 "Allow scrobbling to http-only listenbrainz servers"
Currently scrobbling to a development listenbrainz server (as per  #33) fails with a "curl::error: SSL connect error" because mpris-scrobbler expects the endpoint to be HTTPS.

[2018-03-21 14:05] mariusor commented on #31
This was fixed by switching to using string arrays in [v0.2.49](https://github.com/mariusor/mpris-scrobbler/releases/tag/v0.2.49).

[2018-03-21 14:05] #31 closed

[2018-03-21 14:07] mariusor commented on #32
In the end I implemented just  `xesam:albumArtist`, `xesam:artist` and `xesam:genre` as string arrays.

`xesam:comment` is still loaded into a regular string, with "\n" between elements read from the DBUS array.

The result can be seen in [v0.2.49](https://github.com/mariusor/mpris-scrobbler/releases/tag/v0.2.49)

[2018-03-21 14:07] #32 closed

[2018-03-21 14:08] mariusor commented on #33
Confirmed on IRC that "it works" with the caveat in #36.

Closing.

[2018-03-21 14:08] #33 closed

[2018-03-26 09:29] mariusor commented on #36
Hey @LeoVerto, during the weekend I got cought up in a different project, so for the near future there likely won't be any work on this. Sorry.

[2018-03-26 22:15] LeoVerto commented on #36
That's a shame to hear, guess I'll have to freshen up my C skills then.

[2018-03-29 20:03] Viktini commented on #34
I have this bug as well and I'm running Arch Linux (Linux 4.15.12-1-ARCH x86_64).
Whenever I try to set the token for my ListenBrainz account, the error in OP's issue is shown and nothing else, even if I try to get more output through verbose parameters.

This also happens when attempting to add Last.fm or Libre.fm accounts.

[2018-03-31 09:17] mariusor commented on #34
Please post full output of what you're trying, and **censor** the secret tokens.

Also post content of `~/.local/share/mpris-scrobbler/credentials` with same secret credentials censored if they are present, before and after running your command.

As a workaround for listenbrainz, you can edit manually the credentials file:

[code]

[2018-04-04 11:49] ibrokemypie commented on #34
[code]
there is no ~/.local/share/mpris-scrobbler/credentials file.

This is on arch linux, and that is the full output

[2018-04-04 12:42] mariusor commented on #34
OK. I see.

I think the problem is due to an early exit either because there are no existing credentials, or because the mpris-scrobbler is running.

Either way I'm fixing it ASAP.

[2018-04-04 14:04] mariusor commented on #34
Fixed in 15a3d2af476921. Tagged new release [v0.2.50](https://github.com/mariusor/mpris-scrobbler/releases/tag/v0.2.50). Released new version of the AUR package.

[2018-04-04 14:04] #34 closed

[2018-04-04 14:55] ibrokemypie opened #37 "mpris-scrobbler-signon session lastfm does nothing"
running mpris-scrobbler-signon session lastfm    pauses for a while then doesnt actually do anything but remove the token from the credentials file.
Using -vvv gives the following output
[code]

[2018-04-04 20:31] mariusor commented on #37
Can you compile [the debug](https://github.com/mariusor/mpris-scrobbler#installing) version of the package please ?

Then please run the sequence in order (there are 4 v's in the verbose switch) and paste the output (censor the token and session id) :

    $ mpris-scrobbler-signon -vvvv token lastfm

    $ mpris-scrobbler-signon -vvvv session lastfm

[2018-04-05 03:08] ibrokemypie commented on #37
Ah, sorry, the AUR version wasnt updated as I thought it was. Seems to have worked now, thought it still doesnt seem to be scrobbling
[code]

[2018-04-05 06:03] mariusor commented on #37
I'm glad to hear it. I'll try to see why it didn't load the file automatically though, because at the end, the signon sequence should send the `-HUP` signal to the daemon to reload the credentials.

Thank you for your time.

[2018-04-13 11:00] mariusor commented on #36
Hi again, @LeoVerto.

I made some changes in commit 37321511a. If you could compile the git version and give it a try I would appreciate it. You can now either edit your credentials file directly:

    [listenbrainz]
    enabled = true
    token = f91****-****-****-****-********518c
    url = http://localhost

Or use the command line `mpris-scrobbler-signon --url http://localhost:8080 token listen

[2018-04-19 12:53] #36 closed

[2018-04-23 20:27] mariusor commented on #13
OK, moving to using stretchy buffs instead of the existing array fixed both remaining issues. Yay!

[2018-04-23 20:27] #13 closed

[2018-04-23 20:28] mariusor commented on #30
This was fixed, somewhat as I moved the scrobble queue to stretchy buffers in commit 2c36fec7.

[2018-04-23 20:28] #30 closed

[2018-05-06 17:08] mariusor commented on #11
Switched to curl_multi_* in  e9346c6.

[2018-05-06 17:08] #11 closed

[2018-05-13 08:39] mariusor opened #40 "Coverity report issues."
These creep up every commit.

See comments for latest reports.

[2018-05-13 08:43] mariusor commented on #40
CID|Type|Category|File|Function
---|----|--------|----|--------
275717|Dereference before null check|Null pointer dereferences|/src/scrobble.h|scrobble_copy
275720|Dereference before null check|Null pointer dereferences|/src/configuration.h|free_configuration
275724|Dereference before null check|Null pointer dereferences|/src/ini_base.h|ini_group_free
275725|Dereference before null check|Null poin

[2018-05-24 08:58] mariusor commented on #25
Made some progress with this using [Mer Project's OBS](https://build.merproject.org/package/show/home:habarnam:mpris-scrobbler/mpris-scrobbler). Still not finished.

[2018-05-25 09:39] mariusor commented on #26
Fixed in 45c88c8

[2018-05-25 09:39] #26 closed

[2018-05-25 15:59] mariusor opened #42 "Add needed XDG_* env variables to the service file"
Some environments in which we want to run mpris-scrobbler might not have the neccesarry  env variables set so reading the credentials file fails.

We need to add the required env variables to the service to fix this.

[2018-05-29 15:14] mariusor commented on #18
I think that having separate queues for each player is not really neccessary as much as it would be to have different queues for each API.

[2018-05-29 15:14] #18 closed

[2018-09-02 09:30] mariusor opened #43 "Player ignore rules in config"
Add a way in config to ignore certain players.

Related to #18.

[2018-09-02 09:34] mariusor opened #44 "Zero mpris_properties struct before load"
Because some players (Spotify on mobile) don't send the full mpris metadata struct when triggering an PropertiesChanged event, we end up with data from previous fully loaded metadata.

This ends up in broken submissions being sent to the APIs.

To prevent this, we need to zero the struct we load the information into at one point.

However we need to do this carefully as some players send multiple

[2018-09-03 09:48] mariusor opened #45 "mpris-metadata:timestamp issues"
mpris::loading_metadata
      loaded::metadata::length: 234032000
      loaded::metadata::track_number:  7
      loaded::metadata::timestamp: 1535967817
      loaded::playback_status: Playing

As we can see the timestamp is in three orders of magnitute greater than length.

This can be an unitialized memory issue or a conversion issue.

[2018-10-07 17:42] Thaodan commented on #25
Maybe add the rpm to the repo (or add another with this as submodule) to build using tar_git in obs?

[2018-10-07 17:59] mariusor commented on #25
Hi, thank you for your comment, but unfortunately I'm not very knowledgeable about OBS or creating RPM packages. Do you have some links for me to read in order to understand what you mean?

[2018-10-07 18:16] Thaodan commented on #25
You can create a _service file where obs pics up your services.
Tar_git makes a tar out of your repo and makes it available as build source to obs.
You can either point to a stable commit or make rebuild everytime you push something using webhooks.
See a pkg of mine as an example:
https://build.merproject.org/package/view_file/home:Thaodan:testing/communi-sailfish/_service?expand=1

[2018-10-07 18:48] Thaodan commented on #25
I'm interresed. I used the maemo-scrobbler before but its based on a Nokia framework and can't be ported.
A accounts plugin to catch oauth token would be great.

[2018-10-07 19:31] Thaodan commented on #25
Can you point out whats missing inside the signon plugin?
I thought of creating a plugin that collects the ouath key like the google plugin but just writes it to a text file.
This sounds much better.

[2018-10-07 19:32] Thaodan commented on #25
For me librefm is still online?

[2018-10-07 20:19] mariusor commented on #25
So, the signon-helper in the current state contains just the services/providers for the 3 scrobbling APIs as used by the Sailfish OS accounts manager.

If you install it in the SDK they show up in Settings > Accounts. But there's no functionality implemented for any of them.

The authentication steps for libre/last.fm are the same, detailed in the [README](https://github.com/mariusor/mpris-scrobbl

[2018-10-07 20:54] Thaodan commented on #25
Could the demon not retrieve the credentials from signond?

[2018-10-07 21:00] mariusor commented on #25
I don't know... probably, but I would not want to have the scrobbler too much tied into the sailfish os infrastructure. I'll investigate.

[2018-10-09 09:40] mariusor opened #46 "Don't append CURL requests if one is already in the queue for the current API"
Sometimes the queue of API requests shows more than one call for a service, which shouldn't be done:

    INFO    scrobbler::now_playing: Variationen zur Gesundung von Arinuschka//Jeroen van Veen//Minimal Piano Works, Volume II
    INFO     api::submitted_to[listenbrainz.org]: ok
    INFO     api::submitted_to[last.fm]: ok
    INFO     api::submitted_to[libre.fm]: ok
    INFO     api::submitted_to

[2018-10-09 15:30] jwflory opened #47 "Support build environment outside of git repository"
# Summary

Support building the project with `ninja` when the directory is not a git repository

# Background

I was working to create an RPM package to get on Fedora and possibly CentOS/EPEL. I was building the program in a Docker container and using the tarball release of the project. I was unable to compile the software.

# Details

I ran the following:

[code]

# Outcome

Supported way of buil

[2018-10-10 08:52] mariusor commented on #47
This should be already be possible if specifying the `-Dversion=0.3.666-unicorn-squared` option to meson. See the [AUR build script](https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=mpris-scrobbler#n16).

[2018-10-10 08:54] mariusor commented on #47
Let me know if this is enough for your needs, or I should look more into it. :)

[2018-10-10 12:56] jwflory commented on #47
@mariusor Thanks for the quick response! I will try to take another crack at it over this weekend. I'll follow up soon.

[2018-10-10 14:23] mariusor commented on #47
I have an rpm.spec file already working that I created based on the one for mpris-ctl I think. I am using (was using) it to create a [Mer build](https://build.merproject.org/package/view_file/home:habarnam:mpris-scrobbler/mpris-scrobbler/mpris-scrobbler.spec?expand=1).

[2018-11-13 11:27] Bergiu opened #48 "Can't login"
Problem:
The service loads a different file than the command mpris-scrobble-signon creates.

How to reproduce:
1. Installed the program like described in the README.md
2. Started mpris-scrobbler.service
    -  `systemctl --user start mpris-scrobbler.service`
    - In the `journalctl --user -u mpris-scrobbler-service` there ist this log:
        - `WARNING main::loading_credentials: failed`

[2018-11-13 11:47] mariusor commented on #48
Thank you for submitting this.

Seems like I didn't update the saving of the credentials file to the proper path.

I'll fix it as soon as possible.

[2018-11-13 11:57] Bergiu commented on #15
MPV doesn't work too.

[2018-11-13 12:17] mariusor commented on #15
Well, that's a totally different issue and probably is related to the fact that mpv doesn't expose the MPRIS interface. At a first glance mpv doesn't implement any DBUS interface.

Unfortunatelly I can't do anything about that. You can open a ticket with mpv, but I doubt that they are interested if they didn't implement it until now.

[2018-11-13 13:34] mariusor commented on #48
So, as an update:

I'm testing on git master and the credentials file is created in the proper place, in ~/.local/share/mpris-scrobbler.

It's possible that the problem is triggered by something local to your machine. Can you tell me which distribution and which version of mpris-scrobbler are you running?

And can you please paste here the output of this command?

    $ env | grep XDG | grep -Evi

[2018-11-14 09:35] mariusor commented on #48
Thanx, I'll give it a try with a similar environment configuration.

I suspect that the main issue is that you're missing `XDG_DATA_HOME` in your environment when you run the signon helper. I'll try to improve the logic of generating this path in less standard configurations.

Do you have the HOME env var set? (`$ env  | grep HOME`)

[2018-11-14 10:22] Bergiu commented on #15
I've forgot to say, that I'm using this mpv plugin:
https://github.com/hoyon/mpv-mpris

With that it is possible to get information and controll the player over mpris with `playerctl`.

mpris-scrobbler log on vlc:
https://hastebin.com/diwujagodo.php

playerctl output on vlc:
https://hastebin.com/nuzufolelu.rb

mpris-scrobbler log on mpv with mpv-mpris:
https://hastebin.com/qerinomivo.rb

playerctl

[2018-11-14 10:40] mariusor commented on #48
Ok, thank you. This should be enough for me to reproduce. Can't promise a date by when I can do this, but I'll ping you once I have something.

[2018-11-14 10:41] mariusor commented on #15
I see.

From your debug log it seems that mpris-scrobbler can't load the track title when using mpv-mpris. I'll try to find the song to reproduce your issue.

I'll ping you if I find a solution.

[2018-11-14 10:43] Bergiu commented on #48
I will test later if it works when I set the XDG_DATA_HOME dir.

[2018-11-14 11:34] Bergiu commented on #48
Setting `XDG_DATA_HOME=~/.local/share` fixed this problem. It seems that I've forgot to set this in my system settings.

[2018-11-14 11:49] Bergiu commented on #48
https://standards.freedesktop.org/basedir-spec/basedir-spec-latest.html:
"If $XDG_DATA_HOME is either not set or empty, a default equal to $HOME/.local/share should be used."

[2018-11-14 12:06] mariusor commented on #48
Yes, this is what I'm already doing see: https://github.com/mariusor/mpris-scrobbler/blob/37f1e60a69abc6b8a315938dc1c25ac51c309146/src/configuration.h#L253

Probably the logic is broken somehow. I'll fix it.

[2018-11-17 20:37] #48 closed

[2018-11-17 21:21] mariusor opened #49 "The scrobbler doesn't push scrobbles loaded from MPV"
_Originally posted by @Bergiu in https://github.com/mariusor/mpris-scrobbler/issues/15#issuecomment-438240957_

[2018-11-17 21:23] mariusor commented on #49
Confirmed using mv-mpris. I suspect the cause is that when we iterate over the dbus metadata dictionary we skip the last element, which in this case is the title.

Will investigate more.

[2018-11-18 17:41] #49 closed

[2018-11-18 17:42] mariusor commented on #49
@Bergiu I hope this fixes your MPV issue. Let me know please.

[2018-11-19 10:29] Bergiu commented on #15
It works. Thanks for you work.

[2018-11-19 10:59] mariusor commented on #15
No problem, I'm glad that someone is actually using the scrobbler besides me.

[2019-01-31 08:11] jwflory commented on #46
Would this be related to a song being scrobbled twice at the same time, e.g. starting a song and immediately skipping to the next scrobbles both of the songs?

[2019-01-31 08:17] mariusor commented on #46
No, I don't think so. I suspect there's some async issue when adding the event. My plan is to check that a request doesn't exist in the current batch before adding it.

Also what you mention theoretically shouldn't happen as one of the rules for a valid scrobble require that a song has played for 4 minutes or half of its length. Some players that don't report song length or play time correctly mig

[2019-01-31 15:52] jwflory commented on #46
@mariusor Interesting. I guess this is a different bug. Sometimes I noticed I would have double scrobbles even if a song is played momentarily. I was trying out the [cmus music player](https://cmus.github.io/).

[2019-01-31 15:57] mariusor commented on #46
Could you please open a separate ticket for that so I will remember later to take a look?

I'm sure my code regarding a scrobble being valid or not could use some improvements, and this would be just the thing to put things in motion.

[2019-02-02 22:15] jwflory opened #50 "Occasional double-scrobbles / pre-mature scrobbles submitted to scrobble server"
# Summary

Occasionally a song is either:

1. Double-scrobbled to a scrobble server, or
2. Mistakenly scrobbled when played for a few seconds

# Background

I noticed a few times when using mpris-scrobbler, a bad scrobble made it through (as described above). A few things of note:

* Bad scrobble makes it to _all_ scrobble servers (Last.fm, Libre.fm, ListenBrainz)
* Seems to be independent of play

[2019-03-07 18:43] alecvn opened #52 "Allow pull request for Ubuntu 18.04 documentation"
Hi

Thanks for your work on this scrobbler!

I've installed and got `mpris-scrobbler` working on two different systems running Ubuntu 18.04 and subsequently compiled a section for it in the `README`.  I felt it was just different and tricky enough to require its own set of instructions.

If you would allow me to make a pull request I will send it through.

[2019-03-07 18:53] alecvn opened #53 "First track selected does not scrobble"
OS:  Kubuntu 18.04
Media Player: Google Music via MellowPlayer

Tracks that are selected don't scrobble at all, only tracks that follow-up naturally will be successfully scrobbled.

Eg. if I load up an album and select to start it at track 3, track 3 won't scrobble but tracks 4,5,6... do.

[2019-03-07 20:17] mariusor commented on #52
Of course, please do. Any contribution is welcome.

[2019-03-07 20:19] alecvn commented on #52
I don't seem to currently be able to.

[2019-03-07 20:47] mariusor commented on #53
Hi @alecvn, thank you for trying mpris-scrobbler.

The first step would be to get some logs. Can you make sure you're running a debug build and run it from the command line with very vebose output and paste here the output:

[code]

My first suspicion is that MellowPlayer doesn't send the full MPRIS metadata struct when the track starts to play.

[2019-03-07 20:52] mariusor commented on #52
I'm not sure what you're trying to do, but forking the repository, pushing the changes to your own repo, and then opening a pull request against mine will do the trick.

There's an [article](https://help.github.com/en/articles/fork-a-repo) about it in the github help pages.

[2019-03-08 13:12] #52 closed

[2019-04-08 08:17] mariusor commented on #50
Hi @jwflory, I released a new version that has some improvements to the logic of scrobble validation.

Please give it a try and add some more info to the ticket if it still happens for you. (A minimal reproducible case would be great - which songs and which player)

[2019-04-08 09:40] mariusor opened #55 "Skip duplicate dbus PropertiesChanged signals"
Latest Spotify flatpak is emitting about 4 PropertiesChanged signals when moving to the next track.

This in turn generates multiple now_playing events with the same data.

I should make the daemon keep track of these signals and ignore all but the first one.

[2019-04-08 09:42] mariusor commented on #53
Hey @alecvn I have released a new version of the scrobbler, could you check if it fixed your issue?

[2019-04-08 09:42] mariusor commented on #55
It is related to issue #46.

[2019-04-08 12:55] mariusor opened #56 "If pausing/unpausing a track, the play_time field gets reset"
We should add the existing play_time to the new value if exists.

[2019-04-08 15:28] jwflory commented on #50
Hi @mariusor, I packaged 0.3.2 this morning for Fedora/CentOS/RHEL. More info is in [this Bugzilla ticket](https://bugzilla.redhat.com/show_bug.cgi?id=1697112). I should have more feedback for you soon. Give me a few days to test it. :slightly_smiling_face:

[2019-05-15 13:04] xTpx commented on #53
Same problem with Arch AUR 2019-04-08 06:04. Doesn't seem to work for the patch.

[2019-05-15 13:23] mariusor commented on #53
Hey @xTpx, please see my reply to alecvn and try to reproduce using verbose output. I can't do it myself as I don't have a Google music account.

[2019-05-16 08:54] xTpx commented on #53
Thanks @mariusor
But i use Audacious (Another issue maybe).
This is my part of journalctl -vvv
https://textuploader.com/1dkz2

[2019-05-16 09:34] mariusor commented on #50
This ticket depends on #55 and on #46.

[2019-05-16 09:37] mariusor opened #58 "Load full track information from DBus when receiving PropertiesChanged signal"
Some faulty implementations of the MPRIS spec don't send the full structure of changed track properties when sending a PropertiesChanged signal.

We should do a Properties.Get to load them and make sure we have all the information we need to submit a scrobble to the servers.

[2019-05-16 09:38] mariusor commented on #53
@xTpx your log file doesn't contain enough information for me to make an informed opinion about the problem, but from what I can see the player didn't send the full track structure to DBUS when the play status changed.

This usually happens when you pause/unpause, not when you play a song. If it happens when you start a song, it's definitely a bug in the Audacious mpris plugin and should be report

[2019-05-16 10:46] xTpx commented on #53
Thanks @mariusor
I updated the log file, It might be useful (but I’m not sure).

[2019-05-26 09:22] alecvn commented on #53
@mariusor, upgrading didn't seem to sort the problem out.

It doesn't seem like it's player specific since @xTpx is using Audacious.  I looked at the [log](https://pastebin.com/k2VmqZMn), from what I can tell the metadata sent with the first track is the same as the metadata sent with subsequent tracks.  The only difference is that the first track selected doesn't seem to register as a "change" in

[2019-06-11 20:21] alecvn opened #59 "mpris-scrobbler.service isn't being started"
Since I tried to debug #53 by running mpris-scrobbler explicitly with `mpris-scrobbler -vvv` I haven't been able to get mpris-scrobbler running as a service again.

After running `systemctl --user start mpris-scrobbler.service` (which runs without errors), I run `systemctl -l status mpris-scrobbler` and get the output: `Unit mpris-scrobbler.service could not be found.`

[2019-06-12 13:14] mariusor commented on #59
I'm not sure why you think that's an issue. By default just compiling the application doesn't set up the systemd service. The only ways that happens would be if:

You installed the package using your distribution's package manager.

You installed the package manually using `ninja install`.

[2019-06-12 19:52] #59 closed

[2019-06-12 19:52] alecvn commented on #59
This is a typical case of a XY-problem.  My apologies.  mpris-scrobbler isn't scrobbling for me anymore so I assumed it was because the service isn't showing.

[2019-07-05 18:13] alecvn opened #60 "WARNING scrobbler::invalid_service[last.fm]"
I'm getting `WARNING scrobbler::invalid_service[last.fm]` when scrobbling from Ubuntu.  I've reinstalled the mpris-scrobbler a few times and followed the instructions.  This doesn't happen for me from work where I have a much older version of mpris-scrobbler.

`$ mpris-scrobbler -vvv ` yields:
https://pastebin.com/23CnJsyY

[2019-07-05 18:48] mariusor commented on #60
I think this signifies a problem with your last.fm credentials. Can you paste the content of your `~/.local/share/mpris-scrobbler/credentials` (making sure you obfuscate token, session - and maybe username) ?

I assume that if you try to authenticate to last.fm again it will work.

I will make a note to improve the error message if that's the case, though. :)

[2019-07-05 19:51] alecvn commented on #60
Ah yes, that file proved you correct.

[code]

And after authenticating again:

[code]

I guess I should open another issue for this, but the reason I re-installed mpris-scrobbler and was checking the logs is because I it hasn't been working for me for a few weeks now.  As stated, my version of mpris-scrobbler at work is still scrobbling (apart from the first track I select, as noted in issue #53)

[2019-07-05 20:06] #60 closed

[2019-07-05 20:07] mariusor commented on #60
OK, I'm glad it worked. I guess better error messages are needed for this use case.

For a second I was afraid that last.fm changed something in their authentication mechanism and I would need to update.  :)

[2019-07-05 20:13] alecvn commented on #60
I think maybe just adding something to the README so users know to check in `~/.local/share/mpris-scrobbler/credentials` if things don't work as they except should be fine for now.  For instance, after I enabled and got my token for last.fm, I ran the command to start a session.  That failed silently.  I had no idea it failed until I looked at your message here again where you mention that `sessio

[2019-07-13 06:54] DeepestAbyss opened #62 "mpris-scrobbler segmentation fault"
[code]

[2019-07-13 10:05] mariusor commented on #62
Hi, this looks like a problem with the player not providing sufficient information through MPRIS.

Can you give more details about your setup? Which player you're using, which mpris-scrobbler version, and any other information that might be relevant.

Also it would help if you can provide the crashdump. You can get it with `coredumpctl -o mpris-scrobbler.dump dump 770`.

[2019-07-28 08:46] #53 closed

[2019-07-28 08:49] mariusor commented on #58
Finally got do doing a workaround fix to this issue, which is to call dbus specifically only if we fail to load a valid scrobble from the mpris message passed in the signal.

The code is in e59d0db

[2019-07-28 08:49] #58 closed

[2019-07-28 08:56] #42 closed

[2019-07-28 08:58] mariusor commented on #44
This issue should be fixed by the steps we have taken to close #53 and #58. For details see commit e59d0db

[2019-07-28 08:58] #44 closed

[2019-07-30 21:43] alecvn opened #63 "Credentials folder is being written to root directory"
When I tried to install from scratch today I noticed that the credentials are being written to the root directory:

[code]

I'm on Ubuntu 18.04 and compiling from source.

[2019-07-31 08:05] mariusor commented on #63
That's definitely something wrong with your environment variables which we are using to create

You are probably missing `XDG_DATA_HOME` and `HOME` variables.

I will add a note to make the signon helper fail if it can't find them though, thank you.

[2019-08-05 07:14] ReekyMarko commented on #63
Same problem here on arch linux. I have `$HOME` set but `$XDG_DATA_HOME` is unset. I think you should make a condition that if it is unset, then just use `$HOME/.local/share/mpris-scrobbler` directly.

[2019-08-05 08:28] mariusor commented on #63
Thank you @ReekyMarko. I will take care of it. Can't give a definite ETA as I'm in the middle of a different project, but it's going to be the first thing I'll fix. :) Keep an eye on this ticket.

[2019-08-05 08:29] ReekyMarko commented on #63
@mariusor great!

[2019-08-05 20:45] mariusor commented on #63
Could you guys check with a version compiled from latest master?

I think I fixed the problem in commit c374d5f6f.

[2019-08-05 22:25] alecvn commented on #63
I have set my `XDG_DATA_HOME` in the meantime, but latest master does seem to have fixed this problem.

[2019-08-05 23:47] alecvn opened #64 "Each subsequent track scrobbles over the previous"
I've been struggling for a few weeks with this and have been trying different things and checking new releases to eliminate other problems I've been seeing, but now I'm stuck again.  The service mpris-scrobbler doesn't scrobble for me at all, and when I run it manually it scrobbles tracks while they're playing but then erases them just as the next one starts and then scrobbles that track, only to

[2019-08-06 08:11] mariusor commented on #63
Thanx. If @ReekyMarko can confirm I'd mark this as closed.

[2019-08-06 09:27] mariusor commented on #64
Thanx for the ticket.

I also have some segfaults issues with versions higher than 0.3.1 up to latest master, playing with Spotify. I'll add MellowPlayer and Amarok to the list of things to check when I start working on that.

I tried already a couple of fixes, but unfortunately nothing seemed to work so far.

It is also possible that the causes are different, but somehow I don't think so, so I'll

[2019-08-06 09:35] alecvn commented on #64
I guess I'm describing two issues here, because I'm not able to successfully scrobble tracks before the segfault occurs - which is usually several tracks in.

At home - where I reported this issue - I'm on latest master.  At work I'm on `v0.3.1-6-gd5b189e` (according to the build version.h) and I never get segfaults and scrobbling works - except for that issue where the first track doesn't scrobbl

[2019-08-06 10:43] ReekyMarko commented on #63
Unset `$XDG_DATA_HOME` and built latest master. Works now without the variable

[2019-08-06 10:47] mariusor commented on #63
Cool. :) Thanx both.

[2019-08-06 10:47] #63 closed

[2019-08-30 20:55] ghost opened #65 "doesn't scrobble (cmus)"
I've configured everything correctly and the credentials file has tokens, sesions etc from two services - lastfm, and listenbrainz.

It works with cmus, but not all songs

[code]

[2019-08-31 12:16] mariusor commented on #65
For cmus it seems that it sends the signal that the track has changed twice, but with different information each time. Once it tells us that the track has changfed and the second that the playback status has changed (which is not true and non conforming to the spec).

This means that the logic of the scrobbler can't put the two events together and generate a valid scrobble for them. In my opinion

[2019-08-31 12:17] mariusor opened #66 "Scrobble issues with ncspot"
Split ticket from #65 by @treeshateorcs:

I've configured everything correctly and the credentials file has tokens, sesions etc from two services - lastfm, and listenbrainz

and this is what systemctl status tells us

[code]

I'm playing music with ncspot (spotify client)

[2019-08-31 12:27] mariusor commented on #66
Thank you for this report, I didn't know of this player.

Everything looks fine from the logs, and theoretically it should scrobble, however I can reproduce the issue on my system too. I'll investigate fruther when I get the time.

[2019-08-31 12:39] mariusor commented on #66
On a second look I think this is also a problem with the player.

Somehow it doesn't expose the `/org/mpris/MediaPlayer2/org.freedesktop.DBus.Properties/PropertiesChanged` signal properly. You can verify this by using the Qt Dbus viewer and going to the `org.mpris.MediaPlayer2.ncspot` service.

The scrobbler can load the track, but it doesn't trigger the API submissions, probably because of this m

[2019-09-01 08:51] treeshateorcs commented on #50
double scrobbles on listenbrainz (lastfm is not affected
![image](https://user-images.githubusercontent.com/44036082/64073968-e1ba4400-ccad-11e9-8b3c-b1f232d0e550.png)

an excerpt from the logs https://pastebin.com/iT2CGfXz

[2019-09-01 09:29] mariusor commented on #50
Hi again @treeshateorcs, which media player is this?

[2019-09-01 09:41] treeshateorcs commented on #50
ah, sorry, forgot to mention it.

I'm using mopidy with mopidy-spotify and mopidy-mpris plugins

[2019-09-01 18:42] mariusor commented on #66
OK, I think I fixed this (commit ceda225).

In the end the main problem was that the scrobbler wasn't loading a proper track length, which was giving weird behavior (if a track is less than 60 seconds is not valid for now_playing or scrobble submission).

Please build from master and let me know if it works for you, so I can close the ticket.

PS. Thanx again for bringing ncspot to my attention. :

[2019-09-01 19:46] mariusor commented on #65
I am using the latest master (with the commits I did for ticket #66) I can scrobble with cmus.

Can you try it again for your use case and tell me if it still doesn't scrobble every song?

Generally the criteria for a valid scrobble are  [here](https://github.com/mariusor/mpris-scrobbler/blob/ceda225d024f6f654d9b085779c90c452969eba0/src/scrobble.h#L304):

* the length is longer than 60 seconds.
*

[2019-09-01 21:14] treeshateorcs commented on #66
i think this patch should fix that
https://gist.github.com/treeshateorcs/22697936ea02f710aae7b12920aa9519

[2019-09-01 21:16] treeshateorcs commented on #66
oh, i just noticed @hrkfdn has already fixed it

[2019-09-01 21:19] treeshateorcs commented on #65
should be 30 secs
https://www.last.fm/api/scrobbling#when-is-a-scrobble-a-scrobble

[2019-09-01 21:43] treeshateorcs commented on #65
scrobbles seem to register on last.fm (but not all, or so it seems), but not on listenbrainz

https://gist.github.com/treeshateorcs/25b7c973b50866b1ce9deaaa7f965133

[2019-09-01 22:01] mariusor commented on #65
Yes [indeed](https://github.com/mariusor/mpris-scrobbler/blob/ceda225d024f6f654d9b085779c90c452969eba0/src/scrobble.h#L11)

Regarding listenbrainz, I see a lot of `mpris-scrobbler[7951]: INFO     api::submitted_to[listenbrainz.org:0]: ok`

That means the API returned 200 OK for the submission. You can check that by compiling in debug mode and running the scrobbler with `-vvvv` verbosity, when it a

[2019-09-01 22:03] treeshateorcs commented on #65
this is getting weird. track 5 (長い季節) does scrobble, track 4 (春のせい) does not. i don't like track 5 so i had to endure

the above is true for both last.fm and listenbrainz

[2019-09-01 22:12] mariusor commented on #65
[code]

I think this might be related to scrobbling tracks that have been queued but the scrobble event has been triggered too early for them (151 seconds vs. wanted 157). I think that's a bigger issue to takle, and I'll take a look at it in another weekend.

[2019-09-01 22:13] mariusor commented on #66
So, does it scrobble fine on your machine?

[2019-09-01 22:28] treeshateorcs commented on #66
same issue as with cmus. now playing is being updated, but scrobbles don't register on both services
https://gist.github.com/treeshateorcs/7f7b19d534a516f7c44c64ed7a46c60f

[2019-09-02 06:26] mariusor commented on #66
OK, I consider that a different issue and I guess we can track it in #65.

I'll close this.

[2019-09-02 06:26] #66 closed

[2019-09-05 04:55] pgueckel opened #67 "listenbrainz signon fails"
See:
https://bugzilla.redhat.com/show_bug.cgi?id=1746472
In short, I am unable to get the scrobbler to create a file, read signon information from a file manually created ($HOME/.local/share/mpris-scrobbler/credentials) etc.

[2019-09-05 09:16] mariusor commented on #67
Hi @pgueckel thank you for your interest in my project.

I think your issue is a duplicate of #63 .

Can you wait for @jwflory to release v0.3.5 and use that, or install it from source, or  do the same with latest master and check if the problem is fixed?

[2019-09-06 02:04] pgueckel commented on #67
I prefer to wait for the release. While I know how to install from source (tarballs), I don't care to install unsigned software and that doesn't come from the fedora and associated repos. Thanks.

So, I should communicate in future under #63 instead of here?

[2019-09-06 02:11] jwflory commented on #67
I will submit a package update this weekend.

[2019-09-06 05:23] RodrigoLeiteF opened #68 "unable_to_load_scrobble[0x563463707a60] with mpd + mpDris2"
Logs: https://pastebin.com/DdY7ijyX
[code]

[2019-09-06 05:31] RodrigoLeiteF commented on #68
Oddly enough everything started working after posting this issue. No idea why.

[2019-09-06 08:07] mariusor commented on #67
@pgueckel you can try the workarounds I proposed in #63 . I think setting the environment variable `XDG_DATA_HOME` to `~/.local/share` would work.

[2019-09-06 08:58] mariusor commented on #68
Hi @RodrigoLeiteF , thank you for your interest in mpris-scrobbler.

To go on I will need more information about what is actually happening. Please run the scrobbler as `mpris-scrobbler -vvv`to see more verbose output and use a paste service to post the output somewhere.

Your issue might be the same as #65, but I'll need that debug information to be able to say for sure.

[2019-09-06 15:17] RodrigoLeiteF commented on #68
I see. Here's a test run I did, listening to the track "True" by Hannah Diamond in full, then half of "Make Believe" by the same artist.

https://pastebin.com/TB1BfEyw

[2019-09-06 17:10] mariusor commented on #68
Honestly I don't know why it didn't scrobble after half of the first track elapsed. The only time it scheduled a scrobble was here:

```DEBUG   events::add_event(0x5578464437a0):scrobble in 118.000 seconds```

But I suspect you killed it before it got a chance to do that.

You might want to leave it running for a couple more songs and see if it manages to scrobble any of them. Usually when a scrob

[2019-09-07 00:29] pgueckel commented on #67
I tested the value of XDG_DATA_HOME before I reported the problem. It's value is default on Fedora. If I set the value, would that not taint the result of the test of the upcoming new release? How would we know if the release fixed the problem, when we apply workarounds before testing it?

[2019-09-07 01:36] pgueckel commented on #67
Well, I couldn't wait :-) I can, after all, simply unset the variable once the new version is released.

I played a file with vlc. I logged in to listenbrainz and it says I have 0 listens :-( Then I tried smplayer. Still 0 listens.

I don't even know if mpris-scrobbler.service is running. When I run systemctl|grep mpris it shows nothing. How can I get it to run right now? I tried systemctl --user

[2019-09-07 08:06] mariusor commented on #67
To see if the scrobbler works you can just execute it from the command line after you compile it without worrying the service:

```$ ./build/mpris-scrobbler -vv```

For the service to be accessible you need to actually install the scrobbler using `sudo make install` after you compiled it (to remove them do `sudo make uninstall`).

This copies the service file and the binaries to their right place

[2019-09-07 13:32] pgueckel commented on #67
I'd really like to use amarok, my standard player, but they haven't, after over a year, managed to get an rpm built for KDE5 (I don't want to taint my system with any KDE4 stuff). Rhythmbox is installed, but it wants access to all of my files and I had troubles with it years ago: I think it tries to put the music files into ITS hierarchy. I just don't like it! I don't know if Spotify is in the Fed

[2019-09-08 02:09] pgueckel commented on #67
I ran the command and I get the "string" output with vlc, so vlc apparently does work with mpris. When I run mpris-scrobbler -vv I get a lot of output regarding title, artist, album etc, but there is still nothing in listenbrainz.

[2019-09-08 18:53] mariusor commented on #67
Without that output I can't help, sorry.

Please run `mpris-scrobbler -vvv` and upload the logs to a pastebin.

[2019-09-10 16:39] pgueckel commented on #67
OK, I will do, but presently I have noticed something else :-(

There is a confounding issue with graphical shells: they do not read environment variables. I finally managed to find a solution for KDE; it is to stop using .bash_profile, but rather .profile. I noticed that when I set XDG_DATA_HOME in a terminal window, it is set only in that teminal window and not set in other terminal windows. It

[2019-09-10 17:33] pgueckel commented on #67
Confirmed: with export XDG_DATA_HOME=~/.local/share in .profile, the variable value is now known in all terminal windows. Also, the mpris-scrobbler.service daemon is running all of the time, even after asystem reboot, without me having to restart it. Also, the credentials file is correctly installed with the token stored and the enabled. So, I presume that the only action I need to take, after log

[2019-09-10 17:44] mariusor commented on #67
`mpris-scrobbler-signon listenbrainz` is needed only once, after that the informatoin is saved to `~/.local/share/mpris-scrobbler/credentials`

It's the same with the other services.

And you can't have multiple scrobblers instances running at the same time, if the systemd service is running, if you execute it in the command line, it will exit without doing anything.

To test in the command line,

[2019-09-10 17:44] pgueckel commented on #67
Hey! Something weird just happened. Maybe mpris-scrobbler.service isn't correctly installed by systemctl? Or maybe it is? Anyway, I will tell you what I just did.

I am still logged in to the same KDE session. I still have the same terminal window open, but I was going to call it a day and I closed VLC. Then, I thought: what the heck, I'll risk it and just run the mpris-scrobbler -vvv command anyw

[2019-09-10 17:46] mariusor commented on #67
As I said earlier, once you "signed-on" that's enough. If the mpris-scrobbler systemd service is enabled and it starts fine when you log-in, you don't have to do anything.

[2019-09-10 17:48] pgueckel commented on #67
OK. I will see how this goes for me and get back to you in a couple of days, once I have had some time to play with it. Thanks :-)

[2019-09-10 17:51] mariusor commented on #67
I'll keep my fingers crossed for you.
Keep me posted if you have other issues, but for now I I'll close this issue, as you seem to be sending tracks to listenbrainz.

[2019-09-10 17:51] #67 closed

[2019-09-10 22:28] pgueckel commented on #67
There is still something wrong. It will not scrobble when I run mpris-scrobbler as installed to systemd as per instructions. The only way it scrobbles is when started from the command line (with the systemd script stopped), and then it only does one track and fails, with the unable to load scrobble warning.

See pastebin.com/gMzQdxWw

What I did was stop the non-functioning instance with the stop

[2019-09-10 23:12] pgueckel commented on #67
See here: https://pastebin.com/ygeJyu2U

I listened to a very long work with vlc and, as you see, the instance of mpris-scrobbler started from the command line kept updating to listenbrainz. Approx. every 10 minutes, the playing now and X minutes ago lines would be updated, but when the track ended, it failed to send the info to listenbrainz and the listen is lost.

[2019-09-11 09:07] mariusor commented on #67
I see multiple problems in your messages, and I am sorry you're having such a terrible experience with mpris-scrobbler.

1. Installed mpris-scrobbler doesn't work, command line mpris-scrobbler works: you probably have installed the old version, so the systemd user service points to that.

2. After the last track in a playlist finishes, the scrobbler keeps pushing now-playing events to listenbrainz

[2019-09-11 15:57] pgueckel commented on #67
vlc is a major player that I also use on my android phone, but I just discovered, last night after I wrote you, JuK! :-) It is also mpris-compatible and works very well, but it is dropping some tracks, too. I didn't run it with -vvv, but I did, of course, use the command line start. This is the player I will use mostly, on the laptop, for the forseeable future, for music listening.

I rarely use s

[2019-09-11 19:42] jwflory commented on #67
To double-check, is the service running under your individual user ID and not `root`? i.e. as your logged-in user, `$ systemctl --user start mpris-scrobbler`

Restarting the service (`systemctl --user restart mpris-scrobbler.service`) should be sufficient. The Fedora package uses the generated systemd service file shown [here](https://github.com/mariusor/mpris-scrobbler/blob/master/units/systemd-u

[2019-09-12 04:07] pgueckel commented on #67
I have tried all of this: make sure that there is no mpris-scrobbler running as root, only --user; stopped the service and restarted the service; verified that it is running and that the player is able to send to listenbrainz, but...

It does not do anything! The only way I can get anything sent to listenbrainz is when I start mpris-scrobbler from the command line—and that, as described above, onl

[2019-09-15 16:22] pgueckel opened #69 "mpris-scrobbler and systemd do not work together"
When mpris-scrobbler is started with:

systemctl --user enable mpris-scrobbler.service (and reboot)
systemctl --user start mpris-scrobbler.service

it does absolutely nothing. It is shown to be running and it can be stopped and restarted, but it never scrobbles.

The only way to get it to do anything is to run it from the command line:

mpris-scrobbler

and to ^c to quit.

[2019-09-15 18:10] pgueckel commented on #69
An uneducated guess:

Since systemd is running the program, it would not know about the value of the variable XDG_DATA_HOME, since that value is set in the user .profile file and would likely only become set when the user logs in, but would not likely be available to a system process, even though it is a system-run user process.

Just an idea.

[2019-09-16 09:05] mariusor commented on #69
If you look at the [service file](https://github.com/mariusor/mpris-scrobbler/blob/master/units/systemd-user.service.in#L8), you can see that it's set to the user's `.local/share` folder.

To debug further what the problems are you need to increase verbosity of the command ran by the service:

[code]

And modify the line `ExecStart` to increase verbosity `ExecStart = /usr/bin/mpris-scrobbler -vvv`

[2019-09-17 05:36] pgueckel commented on #69
Yes, I thought of the service file later in the day. I learned something, too: what %h means ;-)

I just ran which and the 2 --help programs. which responded: /usr/bin/mpris-scrobbler and the --help programs responded version (unknown).

I ran the systemctl edit program and modified the ExecStart line. I verified it by displaying in konsole.

I also ran systemctl --user | grep mpris and it display

[2019-09-17 06:02] pgueckel commented on #69
You said: To track what is happening after login.... Do I need to log out and back in? I didn't bother, since I already am logged in and we have just seen that the daemon is loaded active and running.

I started rhythmbox and played some tracks. As you can see here (https://pastebin.com/U09wg7fH), nothing happens.  I don't know what happened to the daemon in the first line (this was during my test

[2019-09-17 06:09] pgueckel commented on #69
I just stopped it and tested with systemctl --user | grep mpris and there is only a blank line of output. It is not running. Then, I started it from the command line. Here is the output that I get while rhythmbox continues to run, uninterrupted and listenbrainz immediately shows both tracks, hyperlinked to musicbrainz:

https://pastebin.com/WmYj0uY3

[2019-09-17 09:21] mariusor commented on #69
Based on your pastebin it looks like the tracks should have been submitted to listenbrainz, after 4 minutes of play each time. If that didn't happen, the log doesn't say why, is it possible by any chance that you didn't leave it running long enough?

The tracks get send to the scrobbler services after it played for half it's duration or 4 minutes, whichever comes first (in your case 4 minutes).

[2019-09-17 19:43] pgueckel commented on #69
I might have missed the first few seconds of the first track, in yesterday's experiment. The second track played fully. The third track might have gotten chopped off, after the experiment concluded, but I believe not.

To satisfy the experiment, I am running it again. I rebooted; I logged in; I checked that no other instances of scrobbler were running and verified that the user scrobbler is loaded

[2019-10-23 19:13] RodrigoLeiteF opened #70 "Process crashes with "free(): invalid pointer""
Here's the output from `systemctl --user status mpris-scrobbler.service`

[code]

[code]

Using ncmpcpp on Manjaro Linux.

[2019-10-24 20:09] mariusor commented on #70
Thank you for taking the time to submit this. I'm getting them too on my machine, so it's sort-of a known issue, probably due to iffy string values loading from dbus.

However I don't have too much time to dedicate to the scrobbler lately, as my focus is on another project. I'll get to it sometime, but I don't know when.

[2019-10-24 20:20] RodrigoLeiteF commented on #70
No problem. Take your time :)

[2020-02-27 22:26] jwflory opened #71 "Occasional CPU overload, usually when closing player"
I've noticed lately that the mpris-scrobbler process on my system will max out the CPU utilization on my system. My laptop fan or desktop fans will begin spinning up, and looking at `htop` shows the `mpris-scrobbler` process as using 100% of my CPU. Restarting the systemd service is a quick fix and CPU usage goes back to normal, but it still happens about two to three times a day.

I haven't been

[2020-02-29 08:58] mariusor commented on #71
Hi, yes I know of this problem and I get it also when using Spotify as a player.

I wasn't able to solve the issue so far, but I didn't spend that much time looking into it either. I just restart the scrobbler. :(

I think I have the problem isolated in the loop that reads from dbus the mpris properties and metadata for the current track.

Unfortunatelly my main focus is somewhere else, and I'm no

[2020-03-04 10:46] #69 closed

[2020-03-16 19:25] jwflory commented on #71
Bummer. Okay, thanks for the update. If you do get time to look into it, I am happy to help test and troubleshoot any way I can. Thanks for your time making this super useful tool.

[2020-04-25 10:59] mariusor commented on #71
@jwflory just to keep you updated, I've taken a break from my other projects and started working on mpris-scrobbler. There's a chance this would be fixed in the near future. :)

[2020-04-25 18:02] jwflory commented on #71
@mariusor Woohoo awesome! I'll be sure to get any new releases packaged up for Fedora/CentOS/RHEL. :)

[2020-05-06 12:20] mariusor commented on #71
Hey, I have progress on this (I hope), can you please give it a try also?

If you can compile latest master, please do so and use it for a while. Let me know if this problem still exists, or if any others crept up in the meanwhile.

There are a lot of changes under the hood, so some things that previously worked might be broken. Apologies if that's the case.

[2020-05-06 13:53] jwflory commented on #71
@mariusor I will work on giving it a go and creating a pre-release / beta package in my COPR. Because of nuances in the Fedora package build system, it will make my work easier if you can cut a new git tag first. I can wait to publish in official Fedora repositories until some issues are confirmed and/or closed first.

[2020-05-06 16:20] mariusor commented on #71
Hey, in the meantime I had some crashes on my machine, so I'm not fully ready to do a pre-release tag. I'll give it a couple of days for testing on my side and then I'll let you know. Thanx.

[2020-05-08 00:31] jwflory commented on #71
@mariusor Thanks. Because of silly constraints in the Fedora build system, and that I am still a RPM scripting novice, make it hard for me to build from untagged commits. A tag (even if just a tag named by the date and not a new version) simplifies my workflow greatly for downstream packaging.

[2020-05-09 11:55] #45 closed

[2020-05-09 12:04] mariusor commented on #71
OK, I finally have a candidate ready: [v0.3.90](https://github.com/mariusor/mpris-scrobbler/releases/tag/v0.3.90).

[2020-05-16 17:01] jwflory opened #72 "Unable to compile latest beta with Meson"
# Summary

Unable to get the latest pre-release to compile with Meson build system

# Background

This is blocking me from testing and packaging the latest update. Not sure if it is because of a version mismatch or not. Hopefully the logs below are more helpful.

# Details

Currently the compilation fails at this step:

[code]

The full stacktrace is below:

<details>
<summary>Meson stacktrace</su

[2020-05-16 18:08] mariusor commented on #72
I've tagged a new release, [v0.3.91](https://github.com/mariusor/mpris-scrobbler/releases/tag/v0.3.91), in master I had these fixed, as archlinux default compile flags triggered the same issues.

Check again please and let me know. :)

[2020-05-16 18:08] #72 closed

[2020-05-20 20:19] jwflory commented on #71
Hi, just confirming I upgraded to v0.3.91 today. Will monitor CPU usage and scrobble reliability more closely for the next few days.

[2020-05-20 20:21] jwflory commented on #72
Fixed for `x86_64` architectures, but most other architectures fail to compile. I could upgrade with the `x86_64` package, but other downstream Fedora users might be unable to use it with different architectures. I will open a new issue since it is a separate issue.

[2020-05-20 20:33] jwflory opened #73 "[v0.3.91] armv7hl, aarch64, ppc64le, s390x unable to compile binary"
# Summary

`mpris-scrobbler` fails to compile, resulting in a fatal error (`comparison is always true due to limited range of data type`) on multiple non-`x86_64` architectures

# Background

The following four architectures are [not compiling on Fedora 32](https://koji.fedoraproject.org/koji/taskinfo?taskID=44741164):

* [`armv7hl`](https://kojipkgs.fedoraproject.org//work/tasks/1175/44741175/bui

[2020-05-20 20:34] jwflory commented on #65
I wonder if this is fixed in v0.3.91?

[2020-05-20 20:36] jwflory commented on #50
For what it is worth, I have not noticed double-scrobbling lately. But now that I am running v0.3.91, I will watch more closely for a week or so if I notice any double-scrobbles

[2020-05-20 23:11] jwflory commented on #71
I have been using v0.3.91 for a few hours without any CPU usage spikes and consistent scrobbling. I'm going to close this as fixed for now, and if I notice any change, I will reopen. :slightly_smiling_face:

Thanks for fixing this, @mariusor! :tada:

[2020-05-20 23:11] #71 closed

[2020-05-21 07:45] mariusor commented on #50
I'll look into it some more, on my side, I've been using this release for about 2 weeks and I had no double scrobbles, even in the same configuration: Spotify and listenbrainz.

[2020-05-21 07:45] mariusor commented on #65
Haven't tried cmus in a while. If you do a test, please post an update. :)

[2020-05-21 07:47] mariusor commented on #73
Thanx, I'll fix it asap. Could you please post the full log of the build, or give me instructions on how to compile for these targets exactly ?

[2020-05-21 13:57] jwflory commented on #73
@mariusor The full build logs for each arch are linked above. As for compiling, I use the Fedora package building infrastructure to compile `mpris-scrobbler` on machines with these architectures. I'm not sure what changes are needed in order to compile for these alternative arches.

[2020-05-25 15:21] mariusor commented on #73
I pushed tag [v0.3.92](https://github.com/mariusor/mpris-scrobbler/releases/tag/v0.3.92) with some changes. I could reproduce the `armv7hl`, `aarch64`, and `ppc64le` issue on a [Debian `arm64` CI machine](https://builds.sr.ht/~mariusor/mpris-scrobbler/commits/debian.yml), but the `s390x` is a shoot and miss kind of situation.

Please let me know if this version fixes it.

[2020-05-26 15:33] jwflory commented on #73
I am a little puzzled. Fedora 31 and CentOS/RHEL 8 build fine. However, `s390x` on Fedora 32 and CentOS/RHEL 7 are no longer building. :thinking:

I'm going to have to stop building OpenSUSE and Mageia packages because the Fedora build system for these distros is wonky. I'll send a PR for the README soon.

## Logs

Here are some logs to help out with debugging:

* [Fedora 32 builds](https://koji.f

[2020-05-26 15:56] mariusor commented on #73
I suspect EPEL7 errors are not related to building. Looking through the logs I got to [mock_output.log](https://kojipkgs.fedoraproject.org//work/tasks/7872/45017872/mock_output.log):

[code]

[2020-05-26 15:57] mariusor commented on #73
I'll investigate more about the `s390x` errors, but I have no clue what kind of `char` size it has that it overflows to that extent. :(

[2020-05-27 08:15] mariusor commented on #73
So, I looked at what the `s390x` architecture represents, and I'm pretty sure nobody will want to run the scrobbler on bare metal IBM Z mainframes.

So, if you don't mind, we can move this issue to another ticket and remove `s390x` from the build list for the time, while I fiddle with the emulator I need in order to reproduce this. But, I must warn you, it'd be low priority, I again spend most of

[2020-05-27 21:55] jwflory commented on #73
Thanks for looking into it anyways. I agree nobody will want this on `s390x` either. :stuck_out_tongue_closed_eyes:

Let me see if there is a way for me to get an architecture exception. If not, I will try to outsource some outside help on the Fedora Development mailing list. Some folks there might be more familiar with these kinds of issues.

I can take an action item to work on this and come bac

[2020-05-30 20:11] jwflory opened #74 "Send alert with libnotify when events::invalid_scrobble is triggered"
# Summary

When a `events::invalid_scrobble` warning event triggers, send a notification to a Linux desktop user's notification system

# Background

Sometimes a scrobble fails. For the most part, this is a silent error and I might miss when something crashed the scrobbler or if I am listening offline. For scripts, I use `notify-send`, which is provided by the [libnotify](https://github.com/GNOME/

[2020-05-30 20:17] jwflory opened #75 "s390x does not compile in Fedora package build system"
_Originally posted by @mariusor in [#73](https://github.com/mariusor/mpris-scrobbler/issues/73#issuecomment-634504220)._

# Summary

Fix compile errors for `s390x` architectures, or obtain architecture exception for `mpris-scrobbler`

# Background

Quoted from old ticket:

# Details

Currently this is blocked on me. I am looking for an exception for the Fedora package, or to get some debug help on

[2020-05-30 20:19] jwflory commented on #73
Going to take some time to figure this out for Fedora's official packages. I opened #75 to track that.

For now, I think we can close this because it is fixed for all of the realistic arch's, and I am able to locally build and compile new versions as RPM packages on my machine. #75 shouldn't block any new releases :slightly_smiling_face:

[2020-05-30 20:19] #73 closed

[2020-05-30 20:20] jwflory commented on #65
v0.3.93 works for me with `cmus` on Fedora 32 :+1:

[2020-05-30 20:21] jwflory commented on #73
Also thanks for fixing the hanging bug in v0.3.93, I was having the same issue and hadn't had a chance to open a GitHub issue for it yet :grin: I haven't had issues with it randomly hanging anymore.

[2020-05-30 20:22] jwflory commented on #62
I haven't seen an error like this in a long time.

[2020-05-31 09:24] #65 closed

[2020-05-31 09:24] mariusor commented on #62
I haven't either, so I'll consider this closed.

[2020-05-31 09:24] #62 closed

[2020-05-31 09:25] mariusor commented on #70
This should be fixed in the latest v0.3.92 and in the future release v0.4.

[2020-05-31 09:25] #70 closed

[2020-05-31 09:38] #43 closed

[2020-05-31 10:09] #46 closed

[2020-05-31 10:09] #55 closed

[2020-06-01 19:58] jwflory commented on #75
This may be an issue with GCC10. The failing `s390x` builds only happen on Fedora 32 and later. Fedora 32 introduced the newest GCC release:

* [Fedora GCC10 change proposal](https://fedoraproject.org/wiki/Changes/GCC10)
* [GCC 10 release notes](https://gcc.gnu.org/gcc-10/changes.html)

I also had a Fedora dev point out this [Object Size Checking](https://gcc.gnu.org/onlinedocs/gcc-4.4.5/gcc/Objec

[2020-06-01 20:14] mariusor commented on #75
Thanx for the effort. I'll look at the object size checking page, I hope it'll help.

[2020-06-01 22:45] QuLogic commented on #75
The problem is that `configuration->pid_path` is `MAX_PROPERTY_LENGTH` characters long, but `env_variables->xdg_runtime_dir` is _also_ `MAX_PROPERTY_LENGTH+1` characters long. You are `snprintf`'ing the latter into the former plus some other stuff, and that has the possibility to overflow.

[2020-06-02 07:20] mariusor commented on #75
Thank you @QuLogic. :) I guess it's been just laziness on my side from picking correct array lengths.

[2020-06-13 18:32] jwflory opened #76 "Bug: Crash error with result core-dump"
# Summary

`mpris-scrobbler.service` crashes periodically with a core-dump

# Background

I noticed the scrobbler crashed on my Linux 5.6.14-300.fc32.x86_64 machine. I had to manually restart it, and it began working again. I wasn't observing closely to remember what I was doing when it crashed.

# Details

[code]

# Outcome

`mpris-scrobbler` does not crash

[2020-06-13 18:53] mariusor commented on #76
Hi, I think I would need a more specific way to reproduce this. Since the last release I had no crashes that could match your report.

I had one or two happen when a MPRIS client vanished, but not on sending events.

[2020-06-13 19:23] jwflory commented on #76
Oh. I made a mistake. I was using a new machine that I hadn't updated yet… I was using v0.3.93. Disregard! I am upgrading and will follow up if it happens again.

[2020-06-13 19:23] #76 closed

[2020-06-14 02:00] jwflory commented on #75
I opened [BZ #1846774](https://bugzilla.redhat.com/show_bug.cgi?id=1846774) to document the [architecture failure](https://docs.fedoraproject.org/en-US/packaging-guidelines/#_architecture_build_failures). It would be nice to fix this eventually, but for now, I have a workaround to ship an update for the rest of the working Fedora architectures.

[2020-07-04 14:21] alscaldas opened #78 "Scrobbling to ListenBrainz apparently lacks some data"
Hello there,

First off I'd like to congratulate you for this excellent piece of software. I installed it yesterday and it works nicely but for one little detail.

When I scrobble to ListenBrainz I notice that when using for example Lollypop (which has a sort of 'embedded scobbler') it generates clickable links both on the track and the artist (by the way all my audio files are correctly tagged).

[2020-07-04 16:06] mariusor commented on #78
Hey. The links are generated from the musicbrainz ids in the track's id3 tags.

To check if they are loaded you can start the scrobbler in a terminal with verbose output (`-vvv`) and use one of the songs that have the correct tags (`musicbrainz_trackid`, `musicbrainz_artistid`, `musicbrainz_albumid`) in the player you usually use.

Then using a DBus viewer (I use `qdbusviewer-qt5`) search for `org

[2020-07-04 18:24] alscaldas commented on #78
Thank you so much for your prompt reply.

Well, I begin to suspect that the trouble is indeed what you suggested... I tried 2 different players (in fact 3, but the third one was, I as said, Lollypop, which happens to have its own scrobbler).

MPD (with its counterpart ncmpcpp) and Elisa (which is the kind of current 'default' KDE Plasma player).

That's the output generated by ncmpcpp:

![Screensh

[2020-07-04 19:18] mariusor commented on #78
You can open tickets with those players to add support for musicbrainz tags.

Personally I don't know of any Qt or KDE focused player that supports them. If you find one, please feel free to drop an update on this issue. :)

I'll go ahead and close this.

[2020-07-04 19:18] #78 closed

[2020-07-05 11:07] mariusor commented on #50
I think I'm going to close this issue.

[2020-07-05 11:07] #50 closed

[2020-07-05 12:58] jwflory commented on #50
Works for me too :smile: I've been using it since May and haven't noticed any double-scrobbles. Thanks for working on this and getting it fixed! :tada:

[2020-07-08 18:12] mariusor commented on #68
I believe v0.4.0 fixed this.

[2020-07-08 18:12] #68 closed

[2020-08-16 13:57] xyank-github commented on #36
I'm using https://github.com/krateng/maloja to self-host a scrobbling service, and I tried this "fix", but mpris-scrobbler hasn't done anything so far.

Here's the system: cmus (with mpris support, verified using `playerctl`) runs music -> mpris-scrobbler -> maloja

I have verified maloja works using other scrobblers (using firefox, aka non mpris). This points to mpris-scrobbler being the issue he

[2020-08-17 06:14] mariusor commented on #36
Hi @xyank-github this looks like a completely different issue than what was reported here (ie, not being able to scrobble to http only listenbrainz services). Please open another issue.

However from a quick glance at your logs I don't think the problem is with the listenbrainz instance. The scrobbler doesn't seem to register that the track needs to be scrobbled, which indicates to me a problem wi

[2020-08-19 08:21] sharkcz commented on #75
You can reproduce the s390x behaviour by adding `--param=inline-min-speedup=2 --param=max-inline-insns-auto=80` to your compiler flags. This will enable the same level of aggressive inlining as gcc does on s390x by default. Often it uncovers real bugs, because the compiler has a different view on the code.

[2020-08-19 12:04] mariusor commented on #75
Thank you @sharkcz, I'll add it to the CI pipeline to see what's up.

[2020-10-21 16:58] lzrv opened #79 "Service fails after running signon session"
Distribution: Fedora 31
Scrobbler version: 0.4.0

`mpris-scrobbler.service` crashes after running `mpris-scrobbler-signon session lastfm`. Credentials file is updated correctly. The service works fine after the restart.

Below is the logged backtrace:
[code]

[2020-10-21 20:15] mariusor commented on #79
Thank you for the ticket. I'm not sure what's happening there, I've never encountered something similar when testing.

I am currently working on some other projects so I'm not sure when I'll have the time to dedicate to this. I'll keep you updated if I find a solution. :)

[2020-10-24 03:28] lzrv commented on #79
Thanks for the swift response. It's not a pressing issue anyway, because service restart solves it.

[2020-10-26 18:20] mariusor commented on #79
@jwflory I think this issue happens because of you compiling a debug version that has asserts enabled.

Could you tell me if you're using `-Dbuildtype=release` for the build?

[code]

@lzrv I released a draft version [v0.4.0.1](https://github.com/mariusor/mpris-scrobbler/releases/tag/v0.4.0.1) that you can test with, either by compiling it yourself, or waiting for the version to reach your repo.

[2020-10-27 03:48] jwflory commented on #79
I saw the new version bump. 😀 I'll follow up over the weekend.

[2020-10-27 22:24] jwflory commented on #79
A new package update is available for Fedora and EPEL (see [F33](https://bodhi.fedoraproject.org/updates/FEDORA-2020-acd04d8ea6), [F32](https://bodhi.fedoraproject.org/updates/FEDORA-2020-89797a31cd), [F31](https://bodhi.fedoraproject.org/updates/FEDORA-2020-44ad1b510b), [EPEL-8](https://bodhi.fedoraproject.org/updates/FEDORA-EPEL-2020-d2b57ccd17)). To get the update, try running this command afte

[2020-10-28 07:56] mariusor commented on #79
Cool, thank you @jwflory :) (Offtopic: This version includes your fix for restarting the daemon if crashes.)

[2020-12-27 05:57] gbcox opened #80 "Doesn't appear to work with qmmp or Fx"
I submitted a crash report here:  **https://bugzilla.redhat.com/show_bug.cgi?id=1910992**
In all the examples that following, mpris seems to be working fine with the plasma media player in the systray and communicating back to the widget in the panel, but:

when I try to use Fx with youtube music, the scrobbler shows:
ERROR   dbus::value_error: xesam:artist, This message iterator must have array t

[2020-12-27 14:03] mariusor commented on #80
Hello Gerald, thank you for the report and for using mpris-scrobbler. :)

Unfortunatelly I can't do too much about media players that don't conform to the MPRIS specification like the ones you mention. If the data format they're using is not conformant to the spec I can't load the information about the played track. In my opinion you should submit tickets with those respective players, so they imp

[2020-12-27 20:04] gbcox commented on #80
First of all, thank you very much for the very quick response.  I'd also like to express my appreciation for you having created this application.  It's a great idea.  I downloaded the app just a few days ago from the Fedora repositories:  https://koji.fedoraproject.org/koji/buildinfo?buildID=1635213  - that was built on October 27th - and there is nothing more recent.

I can definitely work with q

[2020-12-28 09:57] mariusor opened #81 "Crash in debug mode when closing Qmmp"
[code]

This might be related to the crash mentioned in the first message of #80

[2020-12-28 10:04] mariusor commented on #81
So, the logs for the crash in #80 are showing it happening in a different place but it looks to be the same underlying issue.

[code]

[2020-12-28 10:08] mariusor commented on #80
OK, so I installed Qmmp on my machine, and for me it seems to be working fine, from the loading of the player name to the scrobbling of the tracks.

[code]

[code]

Tell me, which version of Qmmp are you using?

Also, regarding the crash, I looked at the [build log](https://kojipkgs.fedoraproject.org//packages/mpris-scrobbler/0.4.0.1/1.fc33/data/logs/x86_64/build.log) from the page you posted and

[2020-12-28 19:49] gbcox commented on #80
I'm running the same version as you:
[code]
As I mentioned, if I open qmmp, then systemctl restart mpris-scrobbler (while qmmp stays open), it works fine.  However, if mpris-scrobbler is already running and I just open qmmp to play something, it fails with the above listed errors.

Also, if I do the following it works fine:

1. systemctl stop mpris-scrobbler
2. start qmmp
3. systemctl start mpris-

[2020-12-29 09:09] mariusor commented on #80
So the crash is definitely something that @jwflory can fix in his build scripts. We must wait for him to have time for a new release.

On my side I made a couple of changes regarding #81 so it's less likely to crash even in debug mode, but I want to test some more before I tag a new version.

If you are able, could you please try compiling the scrobbler directly from git master and let me know if

[2020-12-29 20:57] gbcox commented on #80
I recompiled.  Still same results with qmmp as far as getting it to work.  Haven't seen a dump  yet.  Works the same as I mentioned in my previous comment.  Continues to throw this error unless mpris is recycled each time qmmp is opened:

`ERROR     mpris::failed_to_load_player_name: This message iterator must have variant type`

If there is additional debugging I can do on my side, let me know an

[2020-12-29 21:20] gbcox commented on #80
I thought it might be helpful to as qmmp upstream if they had any insights.  Here is the ticket:
https://sourceforge.net/p/qmmp-dev/tickets/1073/

[2020-12-30 09:07] mariusor commented on #80
Hey @gbcox, could you use `QDBusViewer` and after opening Qmmp get the value for `Identity` like the following image? As you can see on my machine the value is a Variant type holding a QString, which is what the scrobbler expects. I'm not sure why it would be different for you.

![screenshot-20201230100251_879095553-swaygrab](https://user-images.githubusercontent.com/7553/103341130-47773580-4a86-1

[2020-12-30 19:54] gbcox commented on #80
Here is when mpris.scrobbler is already running and I open qmmp.  I get the error messages:

ERROR     mpris::failed_to_load_player_name: This message iterator must have variant type
INFO    mpris_player::opened[0]: org.mpris.MediaPlayer2.qmmp:1.976

and here is the display from QDBusViewer:

![image](https://user-images.githubusercontent.com/4543019/103377638-ca9f8800-4a94-11eb-9915-117736292f95.

[2020-12-30 20:52] gbcox commented on #80
I decided to recompile with the debug option and see if I got any additional information.  Here is the information when it will not scrobble:

[code]
and here it is when I restarted mpris while qmmp was still open:

[code]

[2020-12-31 14:37] mariusor commented on #80
So, from what I can see Qmmp reports correctly the player name, so the problem must be somewhere else. You probably can close the issue you opened with them.

Another possibility is that the DBus library has a bug. Can you tell me which `dbus-1` version is your system running on?
[code]

However since the debug build didn't crash when it couldn't load the player name, I imagine the problem is actu

[2020-12-31 19:27] gbcox commented on #80
Here is the output:
[code]
Yes, the build I made was from the latest master with the debug feature on.  I then used
the tracing option of "vvv"

The problem however is that for whatever reason, qmmp is not scrobbling IF it is started AFTER mpris-scrobbler. Is the logic flow somehow different at mpris initialization?  It appears that if a player is active at the time of initialization, everything a

[2020-12-31 20:07] mariusor commented on #80
OK, so what I said earlier that the player name is not required seems to be false. Ooops. :D

I'll look into this new thing. I'll keep you updated.

[2021-02-04 20:10] CENTSOARER commented on #80
Hi guys. I just wanted to let you know I am having a similar issue with Sublime Music player. A typical verbose output:
[code]
Works fine with Strawberry and Clementine. But they both have their own scrobbling support...

[2021-02-09 11:37] VBtheFirbolg opened #82 "Dependencies in Ubuntu seem to be unavailable"
I tried installing the dependencies in Ubuntu 20.04, but there were few packages that were missing:
[code]
I don't know how to install the daemon now. Is there any workaround?

[2021-02-16 13:55] sillitatti opened #83 "Adding a last.fm session fails on Fedora 33"
I can't get last.fm scrobbling to work on Fedora 33 (installed from the repository). After successfully getting the token, when I do "mpris-scrobbler-signon session lastfm", the credentials file gets overwritten with:

[lastfm]
enabled = false

Before this, there were also crashes

helmi 16 15:44:04 system systemd-coredump[7547]: Process 7471 (mpris-scrobbler) of user 1000 dumped core.

[2021-09-08 15:18] Phate6660 opened #84 "Can't build on Gentoo"
Versions:
- Architecture = AMD64
- GCC = 10.3.0-r2

This is the main issue it seems, but the full logs are below:
[code]

<details>
  <summary>build logs</summary>
<pre>
$ meson build
The Meson build system
Version: 0.58.2
Source dir: /home/valley/Downloads/git/mpris-scrobbler
Build dir: /home/valley/Downloads/git/mpris-scrobbler/build
Build type: native build
Project name: mpris-scrobbler
Project

[2022-01-13 07:35] inhji commented on #82
A few packages changed their name in newer versions of Ubuntu, this is the updated list for 20.04:

[code]

In the future, you can look here (https://packages.ubuntu.com/) for packages in your version of Ubuntu.

[2022-02-11 15:55] lorands opened #85 "crashes with core dump on manjaro"
On manjaro linux, installed from AUR: https://aur.archlinux.org/packages/mpris-scrobbler
Version: 0.4.0.1-1

Connected all services.

When event hits, the service crashes.

[code]

Relevant part:

[code]

Afterwards the service is broken. After a restart on service, at first event breaks again.
Tried with different content, the output is mostly identical.

[2022-04-10 10:40] mariusor opened #86 "mpris-scrobbler stopped working with curl versions >= 7.70"
[code]

With curl 7.82 we get this error message, previous ones just crashes.

[2022-04-10 11:22] mariusor commented on #82
Thank you both for the ticket and the solution. :)
I updated the README with the instructions for Ubuntu 20.04.

[2022-04-10 11:22] #82 closed

[2022-04-12 10:49] mariusor commented on #86
Fixed in [c3a4db7ab0](https://github.com/mariusor/mpris-scrobbler/commit/c3a4db7ab0a0402d6a667d42f9a3cfd25eb4a78f)

[2022-04-12 10:49] #86 closed

[2022-04-18 15:20] mariusor commented on #85
Hi @lorands, apologies for the long delay. This was a known issue that I've been working to fix for the past weeks.

I have tagged v0.4.99 and updated the AUR package version.

Please let me know if they don't work.

[2022-04-18 15:25] mariusor commented on #83
Hello @sillitatti, apologies for the long delay in getting back to you.

I think this was discussed in another ticket #79. I'm not sure if @jwflory updated the build scripts to not compile with asserts.

If you can try to compile from source and reproduce, I can take another look, but like this I can't reproduce because I'm not using Fedora.

[2022-04-18 15:32] mariusor commented on #84
@Phate6660 apologies for the long delay in getting back to you.

Unfortunately I am not patient enough to track down all the gcc truncation errors (currently there are over 350 of them). You can update the build script to set `-Werror=format-truncation=0`.

Patches welcome to track them down of course. :D

[2022-04-18 15:37] mariusor commented on #80
@gbcox hello again, after many many moons.

I have released some fixes in v0.4.99, and at least locally I don't have any more issues with qmmp. Can you take a look and get back to me if the issues are fixed for you too?

[2022-04-18 15:41] mariusor commented on #64
@alecvn a long time has passed since you had your issues, I had a number of releases since then.

If you can reproduce your problem with the last of them, please reopen this ticket or submit a new one, until then I'll close it.

[2022-04-18 15:41] #64 closed

[2022-04-18 16:28] #81 closed

[2022-04-20 22:10] Trez-zerT opened #87 "Crash during configuration"
I just installed 0.4.99-1 on Manjaro and consistently receive the following error when trying to login:

mpris-scrobbler-signon token lastfm
WARNING main::load_credentials: no credentials were loaded
zsh: segmentation fault (core dumped)  mpris-scrobbler-signon token lastfm

xdg-open seems to work fine on its own, so I'm not sure how to progress from here.

[2022-04-22 19:27] mariusor commented on #87
Hi, thank you for the report.

 I can reproduce this on my machine. I'll try to come up with a fix soon(ish).

[2022-04-22 19:52] mariusor commented on #87
OK, I have fixed the problems with the signon helper. I'll try to get v0.5 out the door soon.

In the meantime you can try installing the package form source. :)

Here's a PKGBUILD file for the -git version:

[code]

[2022-04-22 19:54] mariusor commented on #87
Let me know if this fixes your issue.

[2022-04-22 21:22] Trez-zerT commented on #87
Well, I got a bit further:

WARNING main::load_credentials: no credentials were loaded
Maximum number of clients reachedqt.qpa.xcb: could not connect to display :0
qt.qpa.plugin: Could not load the Qt platform plugin "xcb" in "" even though it was found.
This application failed to start because no Qt platform plugin could be initialized. Reinstalling the application may fix this problem.

Availabl

[2022-04-23 11:23] mariusor commented on #87
The error makes it look like you're running a Wayland compositor without X enabled. Maybe you need to specify `QT_QPA_PLATFOR=wayland mpris-scrobbler-signon token lastfm` which should pass the environment variable to the kde-open binary.

Can you test if kde-open works from the same terminal ? Something like `kde-open https://fsf.org` I suspect if you can make this work, the signon will go through

[2022-04-23 13:20] Trez-zerT commented on #87
YES! Thank you. This launched the website and let me authorize.

[2022-04-24 11:28] #87 closed

[2022-04-24 15:45] gbcox opened #88 "Version 5.0 build fails on Fedora"
Version 4.99 builds just fine, however Version 5.0 fails with the following errors:

setting SOURCE_DATE_EPOCH=1650758400
Executing(%prep): /bin/sh -e /var/tmp/rpm-tmp.0plczE
Executing(%build): /bin/sh -e /var/tmp/rpm-tmp.OmYU66
The Meson build system
Version: 0.59.4
Source dir: /home/gbcox/rpmbuild/BUILD/mpris-scrobbler-0.5.0
Build dir: /home/gbcox/rpmbuild/BUILD/mpris-scrobbler-0.5.0/redhat-linu

[2022-04-28 09:04] mariusor commented on #88
I have this issue in my backlog, but chasing stringop errors is very tedious and I can't promise a solution any time soon.

In the meantime use this export before build the application:

[code]

Ping back here if it doesn't work. (also you could bother @jwflory for building the new version for his repo :P)

[2022-04-28 09:09] mariusor commented on #85
I'll assume the new versions fix the problem and close this ticket for now @lorands.

Feel free to come back and comment if you still experience issues and I'll reopen it.

[2022-04-28 09:09] #85 closed

[2022-04-28 09:10] #84 closed

[2022-04-28 09:11] mariusor commented on #83
I'll assume the new versions are fixing this issue, so I'll close the ticket.

If you still encounter errors with version v0.5.0 or higher, @sillitatti feel free to comment back here and I'll reopen the ticket.

[2022-04-28 09:11] #83 closed

[2022-04-28 14:36] gbcox commented on #88
Thanks!  I also had to add: -fPIE because of the following:

/usr/bin/ld: mpris-scrobbler-signon.p/meson-generated_mpris-scrobbler-signon-unity0.c.o: relocation R_X86_64_32 against `.rodata' can not be used when making a PIE object; recompile with -fPIE

so the meson build is now:

%meson --buildtype=release -Dc_args="-fPIE -Wno-stringop-truncation -Wno-unused-parameter -Wno-free-nonheap-object -W

[2022-04-28 17:16] gbcox commented on #80
I'll be able to test the week of May 22nd.  I'm accessing my server remote right now I can't get the application to recognize a player if I start it remotely.  Will advise.  Thanks!

[2022-05-03 12:57] mariusor commented on #88
Thank you, those sound like great additions. I hope they will be coopted by @jwflory :)

[2022-05-03 12:57] #88 closed

[2022-05-07 04:27] jwflory commented on #83
I haven't built a new update for the Fedora package yet. I will work on getting an update out soon. I have had some heavy past few weeks at work so my packaging is on a backburner right now…

Alternatively, happy to bring on a co-packager if there is interest in maintaining it with me.

[2022-05-07 16:28] gbcox commented on #83
Hey Justin, you can add me as a co-packager.

[2022-05-10 15:27] gbcox opened #89 "Scrobbling fails with version 0.4.99 and 0.5.0 curl error timeout"
When testing with .5 nothing appears to make it to Listenbrainz.  I tested with another program and it works so doesn't appear to be an issue with Listenbrainz.  Also, as an FYI... with the upgrade to Fedora 36 I had to add -Wno-address to get it to build.  So the overrides are now:  -Dc_args="-fPIE -Wno-address -Wno-stringop-truncation -Wno-unused-parameter -Wno-free-nonheap-object -Wno-format-tr

[2022-05-10 20:56] jwflory commented on #80
Thanks @gbcox for also helping out with the Fedora package. Hopefully we can work out faster updates for Fedora repositories going forward. I've also had my hands busier than normal this year to keep up with all my Fedora packages.

[2022-05-11 13:54] gbcox commented on #80
No problem, happy to help!

[2022-05-11 15:22] gbcox opened #90 "Coredump of 0.5.0 while scrobbling"
Attached file is coredumpctl info:
[coredump_181058.txt](https://github.com/mariusor/mpris-scrobbler/files/8671254/coredump_181058.txt)

Here is the backtrace:
(gdb) bt
#0  __strlen_sse2 () at ../sysdeps/x86_64/multiarch/strlen-vec.S:126
#1  0x00007fca749a0e2d in json_object_new_string (s=0x220 <error: Cannot access memory at address 0x220>) at /usr/src/debug/json-c-0.15-3.fc36.x86_64/json_object.

[2022-05-17 16:24] C-Lunn opened #91 "Service doesn't submit tracks, but manually running `mpris-scrobbler` does (F36, 0.5)"
Scrobbling from Spotify behind a proxy has been broken for years and Spotify are unwilling to fix it, so this is a lifesaver.

I don't mind having it run in a tmux session or something, so not the end of the world, but I'm confused as to why the service doesn't work. My only thought is it's something to do with the proxy but I don't really know how to drill into that -- http(s)_proxy is set for bo

[2022-05-17 16:51] gbcox commented on #91
If your using Fedora 36 mpris-scrobbler is broken.  See my problem reports.

[2022-05-17 16:56] C-Lunn commented on #91
I don't appear to be experiencing the same error as yourself -- thanks for putting those compile flags in, else I'd never have figured it out. Scrobbling (at least via Spotify to last.fm) works fine for me, but only if I run the scrobbler manually. Perhaps also start it manually and see if you experience the same?

[2022-05-17 17:46] gbcox commented on #91
Well, that's bizarre.  You're correct, scrobbling works when started manually instead of using the service.  I did notice an issue however if I start mpris-scobbler first and then start elisa, I get this:
mpris-scrobbler -vvvvvv
DEBUG   main::loading_credentials: ok
DEBUG   main::loading_config: ok
ERROR     mpris::failed_to_load_player_name: This message iterator must have variant type
INFO    mp

[2022-05-17 18:20] gbcox commented on #91
Try commenting out CPUQuota and see if that does anything for you.

[2022-05-18 09:58] C-Lunn commented on #91
Commenting out results in the following:
[code]
And continues timing out.  To confirm, it still works if I run it manually.
I'm thinking now this has something to do with proxy, but changing `-vv` to `-vvvv` in the .service didn't seem to reflect the changes even after a `systemctl daemon-reload`.  Any ideas? Thanks.

I'll try listenbrainz at some point in the future, but given that you can reprod

[2022-05-18 14:20] gbcox commented on #91
Yeah, we need Marius to weigh in and assist. I'll post an alternate workaround in the Fedora bug:  https://bugzilla.redhat.com/show_bug.cgi?id=2075372

[2022-06-09 20:52] mariusor commented on #89
Hey @gbcox, I'm late as always to looking at the issues. :)

I'll take a look at the timeouts and increase them, but no promises when I'll have a version with a fix. As you are already compiling from source you could submit a PR with a value that works for you [here](https://github.com/mariusor/mpris-scrobbler/blob/668ce26b0c6238746089d8aafe8e47cabb4b177d/src/curl.h#L372)

[2022-06-09 21:05] mariusor commented on #91
Hi guys, sorry for the long time it took me to notice the issue. :)

@C-Lunn it's possible that you're right and the problem is that the systemd service doesn't propagate the PROXY environment variables from your session to the systemd user session.

Check if using [PassEnvironment](https://www.freedesktop.org/software/systemd/man/systemd.exec.html#PassEnvironment=) to pass them works for you. If

[2022-06-09 22:28] gbcox commented on #90
Testing out with the curl patch.  Will advise.

[2022-06-09 22:29] gbcox commented on #91
I'm testing now with the curl patch, which seems to have fixed the issue.  Will advise.

[2022-06-10 03:15] gbcox commented on #91
New build is on koji and should be pushed to the testing repository shortly:
https://koji.fedoraproject.org/koji/buildinfo?buildID=1980391

[2022-06-10 03:24] gbcox commented on #80
This is resolved with 5.0.  Closing.

[2022-06-10 03:24] #80 closed

[2022-06-10 03:26] gbcox commented on #89
Resolved with patch.

[2022-06-10 03:26] #89 closed

[2022-06-10 03:31] gbcox opened #93 "mpris::failed_to_load_player_name: This message iterator must have variant type"
If you start mpris daemon, then open a player... things appear to work fine.  However, if you close the player and then reopen it later, you get the error shown below.  Nothing is scrobbled, the daemon just sits there doing apparently nothing.  The way to recover is to restart the daemon.

● mpris-scrobbler.service - daemon to scrobble tracks loaded from the MPRIS DBus interface to compatible serv

[2022-06-10 04:17] jwflory commented on #80
Thanks for helping to package this update downstream @gbcox 🎉

[2022-08-15 07:00] jeff-mclean commented on #91
Hi,

I really love this scrobbler service - I moved from Rhythmbox to Quodlibet only a few days ago.

I like to scrobble with both librefm and lastfm, so this is a boon.

But I can confirm I'm having the issue of scrobbling not working when started as a service, as well as only doing the "Now Playing thing  and not confirming the play (on both Lastfm and Librefm.)

I'm on Mint 21 (ubuntu 22.04 bas

[2022-08-15 15:14] mariusor commented on #91
Hi @jeff-mclean, have you tried the change I proposed in [this comment](https://github.com/mariusor/mpris-scrobbler/issues/91#issuecomment-1151624153)? It's possible that the environment in the systemd user slice is different than the one you have in your TTY. Check for differences and see what fixes it.

[2022-08-17 00:48] jeff-mclean commented on #91
Hi @mariusor,

Your fix did indeed work!  For others following on (that might be a little unsure of exactly how to enact the fix in your comment) in a terminal, I issued
`systemctl --user stop mpris-scrobbler.service`
`sudo vi /usr/local/lib/systemd/user/mpris-scrobbler.service`
- Added PassEnvironment = PROXY to the [Service] section
`systemctl --user daemon-reload`
`systemctl --user start mpris-

[2022-08-18 09:59] mariusor commented on #91
@jeff-mclean would you consider opening a PR with this change? I think it would help other people. :)

[2022-08-18 22:01] jeff-mclean commented on #91
oh Gawd, I don't know how to do that.  I just looked up PR and saw that it meant pull request and have never done that before.  i'll give it a go.  you mean a pull request for that line of code in the service file, right?

so sorry if i'm a dill and have wandered far off the range here...

[2022-08-19 14:07] mariusor commented on #91
Merged, thank you @jeff-mclean  :)

I will be releasing a new version soon(ish).

[2022-08-19 14:07] #91 closed

[2022-08-20 01:15] #93 closed

[2022-08-20 01:15] #90 closed

[2022-10-31 12:40] MinmoTech opened #95 "Scrobble without album"
I usually listen to songs on youtube or songs downloaded from youtube with mpv.

For the first few tracks the scrobbling fails with the error `events::add_event:queue: skipping, track is invalid`.
It works again if I go backwards in the queue.
While I don't know why that makes it work again, the original error is caused by line 392 in `scrobble.h`: `strlen(m->album) > 0 &&`.

Because my music is d

[2022-11-11 06:08] akyag commented on #91
I am having this issue too.
[code]

[2022-11-11 11:50] mariusor commented on #91
You need to check the differences in environment between your regular terminal shell and the environment that the systemd user session runs under:

[code]

Then you check what might be related to connectivity and is different between the two.

[2022-11-12 06:46] akyag commented on #91
Couldn't really figure that out. Tried setting the environment etc but no luck yet.

[2022-11-12 14:34] mariusor commented on #91
Could you post here the output of the first two commands from my previous message? Maybe we can figure it out together.

[2022-11-12 16:54] akyag commented on #91
env
[code]
systemctl --user show-environment
[code]

[2022-11-13 07:36] mariusor commented on #91
I can't see anything that would help, sorry.

I am not sure what is happening. Since your terminal is not using a PROXY I suspect that the problem is elsewhere, and not related to this particular issue.

If you manage to find a solution, please come back and let us know. :)